.cta-right-content {
  padding-right: 40px;
}

.contact-form-field {
  width: 100%; 
  background-color: white; 
  color: black;
}

@media (max-width: 1000px) { 
  .cta-right-content {
    padding-right: 0;
  }  
}