#contact-form-quote {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#contact-form-quote > input[type="text"] {
  width: 100%;
}

#contact-form-quote > input[type="email"] {
  width: 100%;
}


#contact-form-quote > input[type="tel"] {
  width: 100%;
}

#contact-form-quote > select {
  width: 100%;
}

#contact-us-submit-button-quote:disabled {
  opacity: 50%;
}

.hr-quote {
  height: 3px;
  width: 95%;
  border: 3px;
  background: white;
}