{% import "components/layouts.njk" as layouts %}

{% call layouts.section('light') -%}
  {% call layouts.centerContainer('relative z-10 pt-5 px-4 mb-[-50px] lg:mb-[-125px] sm:pt-10') -%}
    {% for item in legals %}
        <details class="p-5 mb-5 text-lg outline-2 rounded-sm" {{ item.state or '' }}>
            <summary>{{ item.section_title }}</summary>
                <div class="mt-5">
                    {% for inner_section in item.inner_sections %}
                        <strong >{{ inner_section.section_title }}</strong>
                        {% if inner_section.content == "" %}
                            <br>
                        {% else %}
                            <p>{{ inner_section.content|safe }}</p>
                        {% endif %}
                        <br>
                    {% endfor %}
                </div>
        </details>
        {% endfor %}
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    {%- endcall %}
{%- endcall %}




