/* */
.campaign-justification-image {
    background-size: contain; width:80%; min-height:600px; background-repeat: no-repeat;
 }

 @media (max-width: 1000px) {
 .campaign-justification-image {
    background-size: contain; width:100%; min-height: 80vw; background-repeat: no-repeat;
 }
}

.spacer-sm {
    padding-top: 30px;
  }
  
.spacer-med {
    padding-top: 60px;
  }
  
.spacer-lrg {
    padding-top: 100px;
  }
  
.spacer-xlrg {
    padding-top: 220px;
  }

  
@media (max-width: 1000px){
    .mobile-spacer-small {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  
@media (max-width: 1000px){
    .mobile-spacer-med {
      padding-top: 100px;
    }
  }