.heading-sticky {
    position: sticky;
    top: 30vh;
}

.how-you-benefit-grid-container > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* Create 4 equal columns */
    grid-template-rows: repeat(2, 1fr);     /* Create 2 equal rows */
    gap: 10px;  /* Optional: Add space between grid items */
}

.how-you-benefit-grid-item > div {
    background-color: var(--background-light); /* Background color for grid items */
    padding: 20px;              /* Add padding for content */
    text-align: center;         /* Center text */
    border: var(--border-light);    /* Optional: Add borders */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.how-you-benefit-icon {
    font-size: 4rem;
    min-height: 4.6rem;
}

.how-you-benefit-heading {
    min-height: 4.6rem;
    color: var(--color-rapid-blue);
}

.how-you-benefit-description {
    min-height: 4.6rem;
}

@media (max-width:1000px) {
    .how-you-benefit-grid-container > div {
      grid-template-columns: 1fr;  /* Stack the items in 1 column */
      grid-template-rows: repeat(6, 1fr); /* Make sure there are 6 rows for 6 items */
    }
  }

@media (max-width:1000px){
    .video-hero-landing{
        width: 100%;
        height: calc(95vw * 0.5625);
    }
}

#email {
    width: 100%;
    margin-right: 2rem;
    height: 3.5rem;
}

#button-lets-talk {
    width: 8rem;
    margin-top: 0;
    margin-bottom: 0;
}

.iframe-youtube-large{
    width: 800px;
    height: 450px;
}

@media(max-width:1000px){
    .iframe-youtube-large{
        width: 100%;
        height: calc(95vw * 0.5625);
    }
}