.landing h1{
    line-height: 1.1; 
    color: #FFFFFF; 
    margin-block-start: 0; 
    margin-block-end: 0;
}

.how-you-benefit-grid-container > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.how-you-benefit-grid-item > div {
    background-color: var(--background-light);
    padding: 20px;
    text-align: center;
    border: var(--border-light);
    border-radius: 10px;
}

.how-you-benefit-icon {
    font-size: 4rem;
    min-height: 4.6rem;
}

.how-you-benefit-heading {
    min-height: 4.6rem;
}

.how-you-benefit-description {
    min-height: 4.6rem;
}

@media (max-width:1000px) {
    .how-you-benefit-grid-container > div {
      grid-template-columns: 1fr;  /* Stack the items in 1 column */
      grid-template-rows: repeat(6, 1fr); /* Make sure there are 6 rows for 6 items */
    }
  }

.video-hero-landing{
    float: right;
    
}

@media (max-width:1000px){
    .video-hero-landing{
        height: 283px;
        width: 504px;

    }
}