/* Layout guide for skeleton blocks */
.skeleton{

}

/* TO REVIEW : Added styles that might make no sense while cobbling this together */
.first-element{ /* Element at the top of the page 'below' the sticky nav menu */
  margin-top: 100px;
}

@media (max-width: 1000px){
  .first-element{ /* Repeated in case we want to make the nav menu skinny in 🍔 mode */
    margin-top: 100px;
  }
}

/* Big splash takes up ~3/4 of the page on desktop, full screen on mobile */
.splash-big{
  min-height: 75vh;
  background-color: green;
}

@media (max-width: 1000px){
  .splash-big{
    min-height: 100vh;
  }
}

/* Small splash takes up ~1/3 of the page on desktop, half screen on mobile */
/* Jonno: I can't get the image to scale to 50%. The parent div expands but not the background image.*/

.splash-small{
  min-height: 30vh;
  background-position: center;
  background-color: green;
}
/*
@media (max-width: 1000px){
  .splash-small{
    min-height: 50vh;
  }
}
*/
.block-full {
    min-height: 100vh;
}

.block-half {
    min-height: 50vh;
}

.block-quarter {
    min-height: 25vh;
}

details {
  max-width: 75vw;
  min-width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px){
  details {
    max-width: 80vw;
  }
}

#wrap {
  margin-top: 90px;  /* Nav menu height */
  min-height: calc(100% - 100px - 475px);
  margin-bottom: 500px; /* Footer height */
}

/* Content layout assistants */

.content-full-column {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.content-full-column:first-child {
  padding-top: 2rem;
}

.content-full-column:last-child {
  padding-bottom: 1rem;
}

@media (max-width: 1000px){
  .content-full-column{
    max-width: 95vw;
  }
}

.container-columns {
  display: flex;
  flex-direction: row
}

.container-column-reverse {
  flex-direction: row-reverse
}

.container-columns > div {
  width: 50%;
  padding: 1rem;
}

@media (max-width: 1000px){
  .container-columns{
      flex-direction: column;
  }
  
  .container-column-reverse{
    flex-direction: column;
  }

  .container-columns > div {
    width: 100%;
  }

}

.container-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.container-three-columns > div {
  align-self: stretch;
  padding: 1rem;
}

@media (max-width: 1000px){
  .container-three-columns{
      grid-template-columns: 1fr;
  }

}

.container-vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.spacer-small {
  height: 4rem;
}