@import "https://cdn.jsdelivr.net/npm/simpledotcss@2.2.0/simple.min.css";

/* Start of imported styles */
:root {
  font-family: "Poppins", system-ui, Helvetica, Arial, serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(244, 244, 244, 1);
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f4f4;
  /* Fancy grid background for visual interest? */
  background-image: radial-gradient(#00000020 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 34pt;
  font-weight: normal;
}

/* Header */
.sticky-container {
  position: sticky;
  top: 0;
  height: 1px;
  z-index: 100;
  width: 100%;
}

.header {
  top: 0;
  margin-top: 0;
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.header img {
  padding-left: 10px;
  margin: 0;
  flex: 1;
  max-height: 50px;
}

.header a {
  margin: 0;
  padding-right: 20px;
  color: #0c152a;
  text-decoration: none;
  font-size: 12pt;
}

.header a:hover {
  color: #f0b41c;
}

/* Top container splash image */
.img-container {
  padding-top: -100px;
  margin: 0;
  max-width: 100%;
}

.img-container .img-container .static-splash,
.img-container .dynamic-splash {
  top: 0;
  left: 0;
  margin-bottom: 0;
  padding-bottom: -10px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex: 1;
}

.img-container .static-splash h1,
.img-container .dynamic-splash h1 {
  align-content: center;
  font-size: 8vw;
  max-width: 1500px;
  color: #f4f4f4;
  padding-left: 10px;
}

.dynamic-splash {
  background-attachment: fixed;
  background-color: #0c152a
}

.center-content {
  max-width: fit-content;
  margin-inline: auto;
}

.block-quote {
  text-align: center;
  font-size: 32;
  font-family: "poppins";
  font-weight: 600;
  color: 0091D0;
  margin-inline: 20%;
}

.section-title-centered {
  text-align: center;
  font-size: 42;
  font-family: "poppins";
  font-weight: 600;
  color: black;
  margin-inline: 20%;
}

@media (max-width: 1000px){
  .section-title-centered {
    font-size: 32;
  }
  
}

@media (max-width: 1000px){
  .block-quote {
    margin-inline: 5%;
  }
}

.campaign-major-message {
  font-size: 50;
  font-family: 'poppins';
  font-weight: 400;
  color: white;
  max-width:900px;
}

.flex-columns {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.hero-margins {
  margin-inline: 15%;
}

#sticky-title {
  position: sticky;
  top: 50px;
  padding-top: 20%;
}

@media (max-width: 1000px){
  .hero-margins {
    margin-inline: 4%;
  }
}

@media (max-width: 1000px){
  .flex-columns {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5%;
    align-items: space-evenly;
  }
}

@media (max-width: 1000px){
  .flex-reverse-mobile {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    gap: 5%;
    align-items: space-evenly;
  }
}

/* Standard widths for top level content */

.content-wide {
  max-width: 90vw;
  min-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.content-medium {
  max-width: 75vw;
  min-width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .content-medium {
    max-width: 80vw;
  }
}

.content-narrow {
  max-width: 50vw;
  min-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .content-narrow {
    max-width: 65vw;
  }
}

/* Spacer */
.spacer {
  padding-top: 32vh;
}

.spacer-half {
  padding-top: 16vh;
}

@media (max-width: 1000px){
  .mobile-spacer-small {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 1000px){
  .mobile-spacer-med {
    padding-top: 100px;
  }
}

/* Flex boxes for content */

#flexible-tech-consulting {
  align-items: start;
}

.flex-container,
.footer-flex-container {
  display: flex;
  align-items: center;
  place-items: row;
  justify-items: last baseline;
  bottom: 0;
}

.flex-item-footer,
.flex-item,
.flex-item-testimony {
  flex: 1; /* equal width for all items */
  padding-right: 8vw;
  padding-left: 4vw;
}

.flex-item-title {
  justify-content: flex-end;
  text-align: end;
}

.flex-item p,
.flex-item-testimony p {
  font-size: 15pt;
  line-height: 1.2;
  color: #0c152a;
}

.flex-item-footer p {
  font-size: 12pt;
}

.flex-item .partner-logo {
  max-width: 150px;
  min-width: 100px;
}

/* Testimonials */
.testimony-container {
  display: flex;
  align-items: start;
  place-items: row;
}

.flex-item-testimony {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 8%;
}

.testimony-speaker {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15pt;
  font-weight: 500;
}

.testimonial-head {
  padding-right: 8%;
}

.testimonial-head img {
  height: 150px;
  width: 150px;
  /* Clip path radius needs to be exactly 50% of width */
  clip-path: circle(75px at center);
}

.testimonial-name {
  color: #43c7f4;
}

.testimonial-company {
  color: #0091d0;
}

.quote-marks {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 34pt;
  color: #43c7f4;
  padding-top: 4%;
}

.hero-with-content {
  background-repeat: no-repeat;
  background-size: 100%;
}

.padding-top-medium {
  padding-top: 16vh;
}

.padding-left-small {
  padding-left: 40px;
}

.padding-right-small {
  padding-right: 40px;
}

.about-us-main-container {
  max-width: 55%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.image-medium {
  width: 350px;
  height: 350px;
  min-width: 350px;
  min-height: 350px;
}

.about-us-messages-container {
  display: flex;
  flex-direction: row;
}

/* Footer */

.footer {
  background: #0c152a;
  align-content: flex-end;
  justify-content: center;
  padding-top: 50px;
  position: relative;
  margin-top: -600px;
  /* negative value of footer height */
  height: 600;
  clear: both;
}

.flex-item-footer {
  padding-bottom: 4vh;
  padding-left: 75px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
}

.footer h3,
.footer p {
  color: #f4f4f4;
  padding-right: 10px;
  font-size: 12pt;
}

.footer h3 {
  color: #43c7f4;
}

.footer a {
  color: #f4f4f4;
  text-decoration: none;
  
}

.footer a:hover {
  color: #f0b41c;
}

.herocda-confirmation-text {
  color: white;
  font-size: 20;
}

/* Header */
.mobile-header {
  display: none;
}

@media (max-width: 500px) {
  /* Header */
  .mobile-header {
    display: flex;
  }
  .regular-header {
    display: none;
  }
  .header img {
    margin: 0;
    flex: 1;
    max-height: 40px;
  }
  /* Content */
  h1 {
    font-size: 35pt;
  }
  h2 {
    font-size: 21pt;
  }

  .flex-item-1 p,
  .flex-item-2 p,
  .flex-item-3 p,
  .flex-item-testimony p {
    font-size: 12pt;
  }
  .flex-item-1 .partner-logo {
    max-width: 100px;
    min-width: 50px;
  }
  .spacer {
    padding-top: 16vh;
  }
  .spacer-half {
    padding-top: 8vh;
  }
  .padding-top-medium {
    padding-top: 8vh;
  }
  .testimonial-head {
    clip-path: circle(50px at center);
  }
}

@media (max-width: 1000px) {
  /* Header */
  .mobile-header {
    display: flex;
  }
  .regular-header {
    display: none;
  }
  /* Splash */
  .img-container {
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
  }
  .img-container img,
  .img-container .dynamic-splash,
  .img-container .static-splash {
    /* Keeps the height and ensures no squishing due to 1000% width */
    height: 100vh;
    width: 1000%;
  }
 
  .img-container .dynamic-splash h1,
  .img-container .static-splash h1 {
    font-size: 50pt;
  }

  /* Content */
  .flex-container,
  .testimonial-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-item {
    padding-top: 100px !important;
  }
  .flex-item-title {
    text-align: start;
  }
  .padding-top-medium {
    padding-top: 50px;
  }
  #sticky-title {
    position: relative;
    top: 50px;
    padding-top: 20%;
  }

  /* Testimonial */
  .testimony-container {
    flex-direction: column;
  }
  .flex-item-testimony {
    padding-left: 8%;
    padding-right: 8%;
  }
  .testimonial-head {
    padding-right: 4%;
  }
  .about-us-messages-container {
    flex-direction: column;
  }
  .mobile-padding-remove {
    padding: 0;
  }
  .about-us-main-container {
    max-width: 90vw;
    min-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .reverse-elements-column {
    flex-direction: column-reverse;
  }
  .image-medium {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }

  /* Footer */
  .footer {
    align-items: flex-start;
  }
  .flex-item-footer {
    padding-bottom: 4vh;
    padding-left: 4vw;
  }
  .footer-menu {
    flex-direction: column;
    line-height: 0;
    padding-left: 4vw;
  }
}@import "https://cdn.jsdelivr.net/npm/simpledotcss@2.2.0/simple.min.css";

/* Start of imported styles */
:root {
  font-family: "Poppins", system-ui, Helvetica, Arial, serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(244, 244, 244, 1);
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-image: radial-gradient(black 1px transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

h2 {
  font-size: 34pt;
  font-weight: normal;
}

/* Header */
.sticky-container {
  position: sticky;
  top: 0;
  height: 1px;
  z-index: 100;
  width: 100%;
}

.header {
  top: 0;
  margin-top: 0;
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.header img {
  padding-left: 10px;
  margin: 0;
  flex: 1;
  max-height: 50px;
}

.header a {
  margin: 0;
  padding-right: 20px;
  color: #0c152a;
}

.text-column-h1 {

  font-weight: 800;
  font-size: 52px;
  line-height: 3.31em;
}
.text-column-h2 {
  line-height: 1.3em;
  font-size: 40px;
  font-weight: 500px;
}
.text-column-h3 {
  line-height: 1.3em;
  font-size: 24px;
  font-weight: 500px;
}
.text-column-body {
  font-size: 16px;
}

.header a:hover {
  color: #f0b41c;
}

/* Top container splash image */
.img-container {
  padding-top: 100px;
  margin: 0;
  max-width: 100%;
}

.img-container .img-container .static-splash,
.img-container .dynamic-splash {
  top: 0;
  left: 0;
  margin-bottom: 0;
  padding-bottom: -10px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex: 1;
}

.img-container .static-splash h1,
.img-container .dynamic-splash h1 {
  align-content: center;
  font-size: 8vw;
  max-width: 1500px;
  color: #f4f4f4;
  padding-left: 10px;
}

.dynamic-splash {
  background-attachment: fixed;
  background-color: #0c152a
}

.center-content {
  max-width: fit-content;
  margin-inline: auto;
}

.block-quote {
  text-align: center;
  font-size: 32;
  font-family: "poppins";
  font-weight: 600;
  color: 0091D0;
  margin-inline: 20%;
}

.section-title-centered {
  text-align: center;
  font-size: 42;
  font-family: "poppins";
  font-weight: 600;
  color: black;
  margin-inline: 20%;
}

@media (max-width: 1000px){
  .section-title-centered {
    font-size: 32;
  }
  
}

@media (max-width: 1000px){
  .block-quote {
    margin-inline: 5%;
  }
}

.campaign-major-message {
  font-size: 50;
  font-family: 'poppins';
  font-weight: 400;
  color: white;
  max-width:900px;
}

.flex-columns {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.div-sticky {
  position: sticky;
  top: 120;
}


/* Standard widths for top level content */

.content-wide {
  max-width: 90vw;
  min-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.content-medium {
  max-width: 75vw;
  min-width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .content-medium {
    max-width: 80vw;
  }
}

.content-narrow {
  max-width: 50vw;
  min-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .content-narrow {
    max-width: 65vw;
  }
}

/* Spacer */
.spacer {
  padding-top: 32vh;
}

.spacer-half {
  padding-top: 16vh;
}

/* Flex boxes for content */

#flexible-tech-consulting {
  align-items: start;
}

.flex-container,
.footer-flex-container {
  display: flex;
  align-items: center;
  place-items: row;
}

.flex-item-footer,
.flex-item,
.flex-item-testimony {
  flex: 1; /* equal width for all items */
  padding-right: 8vw;
  padding-left: 4vw;
}

.flex-item-title {
  justify-content: flex-end;
  text-align: end;
}

.flex-item p,
.flex-item-testimony p {
  font-size: 15pt;
  line-height: 1.2;
  color: #0c152a;
}

.flex-item .partner-logo {
  max-width: 150px;
  min-width: 100px;
}

/* Testimonials */
.testimony-container {
  display: flex;
  align-items: start;
  place-items: row;
}

.flex-item-testimony {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 8%;
}

.testimony-speaker {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15pt;
  font-weight: 500;
}

.testimonial-head {
  padding-right: 8%;
}

.testimonial-head img {
  height: 150px;
  width: 150px;
  /* Clip path radius needs to be exactly 50% of width */
  clip-path: circle(75px at center);
}

.testimonial-name {
  color: #43c7f4;
}

.testimonial-company {
  color: #0091d0;
}

.quote-marks {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 34pt;
  color: #43c7f4;
  padding-top: 4%;
}

.hero-with-content {
  background-image: url("https://t3.ftcdn.net/jpg/04/67/96/14/360_F_467961418_UnS1ZAwAqbvVVMKExxqUNi0MUFTEJI83.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.padding-top-medium {
  padding-top: 16vh;
}

.padding-left-small {
  padding-left: 40px;
}

.padding-right-small {
  padding-right: 40px;
}

.about-us-main-container {
  max-width: 55%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.image-medium {
  width: 350px;
  height: 350px;
  min-width: 350px;
  min-height: 350px;
}

.about-us-messages-container {
  display: flex;
  flex-direction: row;
}

/* Footer */

.footer {
  background: #0c152a;
  align-content: flex-end;
  justify-content: center;
  padding-top: 50px;
  position: relative;
  margin-top: -500px;
  /* negative value of footer height */
  height: 500;
  clear: both;
}

.flex-item-footer {
  padding-bottom: 4vh;
  padding-left: 75px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
}

.footer h3,
.footer p {
  color: #f4f4f4;
  padding-right: 10px;
  font-size: 12;
}

.footer h3 {
  color: #43c7f4;
}

.footer a {
  color: #f4f4f4;
  text-decoration: underline;
}

.herocda-confirmation-text {
  color: white;
  font-size: 20;
}

/* Header */
.mobile-header {
  display: none;
}

@media (max-width: 500px) {
  /* Header */
  .mobile-header {
    display: flex;
  }
  .regular-header {
    display: none;
  }
  .header img {
    margin: 0;
    flex: 1;
    max-height: 40px;
  }
  /* Content */
  h1 {
    font-size: 35pt;
  }
  h2 {
    font-size: 21pt;
  }

  .flex-item-1 p,
  .flex-item-2 p,
  .flex-item-3 p,
  .flex-item-testimony p {
    font-size: 12pt;
  }
  .flex-item-1 .partner-logo {
    max-width: 100px;
    min-width: 50px;
  }
  .spacer {
    padding-top: 16vh;
  }
  .spacer-half {
    padding-top: 8vh;
  }
  .padding-top-medium {
    padding-top: 8vh;
  }
  .testimonial-head {
    clip-path: circle(50px at center);
  }
}

@media (max-width: 1000px) {
  /* Header */
  .mobile-header {
    display: flex;
  }
  .regular-header {
    display: none;
  }
  /* Splash */
  .img-container {
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
  }
  .img-container img,
  .img-container .dynamic-splash,
  .img-container .static-splash {
    /* Keeps the height and ensures no squishing due to 1000% width */
    height: 100vh;
    width: 1000%;
  }
 
  .img-container .dynamic-splash h1,
  .img-container .static-splash h1 {
    font-size: 50pt;
  }

  /* Content */
  .flex-container,
  .testimonial-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-item-title {
    text-align: start;
  }

  /* Testimonial */
  .testimony-container {
    flex-direction: column;
  }
  .flex-item-testimony {
    padding-left: 8%;
    padding-right: 8%;
  }
  .testimonial-head {
    padding-right: 4%;
  }
  .about-us-messages-container {
    flex-direction: column;
  }
  .mobile-padding-remove {
    padding: 0;
  }
  .about-us-main-container {
    max-width: 90vw;
    min-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .reverse-elements-column {
    flex-direction: column-reverse;
  }
  .image-medium {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }

  /* Footer */
  .footer {
    align-items: flex-start;
  }
  .flex-item-footer {
    padding-bottom: 4vh;
    padding-left: 4vw;
  }
  .footer-menu {
    flex-direction: column;
    line-height: 0;
    padding-left: 4vw;
  }
}
