#bpmn-logo {
    background: url(https://www.bpmn.org/81d57dc41967b3cd4119.png);
    height: 54px;
    width: 119px;
    float: right;
    margin-top: 25px;
    margin-left: 5px;
}

#email-logos {
    background: url(/src/assets/images/Outlook_and_Sendgrid_Logos.png);
    height: 137px;
    width: 73px;
    float: left;
    margin-top: 25px;
    margin-right: 5px;
}