<!--
Use this in the hero splash

<div>
    <div class="dynamic-splash" style="background-image: url('/images/Simplify-Systems-Splash.png')">
        <h1 style="line-height: 1.1; color: #43c7f4; margin-block-start: 0; margin-block-end: 0;">
    Let's face it,<br>you need better<br>systems.
    </h1>
    </div>
</div>


 -->