<div class='content-full-column'>
    <div class='spacer-small'></div>
    <div class='container-columns container-column-reverse'>
        <div class="center-content">
            <img src='/src/assets/images/landing/demo-consultant-face.png' />
        </div>
        <div class="container-vertical-center">
            <h6>BOOK A DEMO</h6>
            <p><h3><Strong>Discover how Rapid technology can streamline your operations</strong></h3></p>
            <p>Book in a 30-minute demo and you'll:</p>
            <p>✅ See Rapid Platform in action<br>
            ✅ A breakdown of the different solutions we can deliver<br>
            ✅ An introduction to our <strong>Tech+Team</strong> approach<br>
            ✅ Clarity on any questions you have
            </p>
            <a href="{{url_get_started}}"><button class="button-cool-light button-large">BOOK DEMO</button></a>
        </div>
    </div>
    <div class='spacer-small'></div>
</div>