
{# 
    knowmore component has configuration options
    "know_more_options": {
        "show_contact_form": true|false,
        "heading": "main title",
        "copy": "main content",
        "title": "title of contact us form",
        "cta_nav_heading": ""
  }
#}
<div class="cta-know-more block-half background-splash text-dark">
    <div class="content-full-column">
        <div class="container-columns">
            <div class="container-vertical-center">
                <div>
                    <h2>{{ know_more_options.heading|safe }}</h2>
                    <p>{{ know_more_options.copy|safe }}<p>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <h2>{{ know_more_options.cta_nav_heading|safe }}</h2>
                    </div>
                    <div>
                        <a href="https://app.rapidplatform.com/signup" >
                            <button class="light-button-styling" >Sign up now</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>