{% extends "layouts/layout.njk" %}

{% from "components/feature_multi_tabs.njk" import FeatureMulti with context %}

{% block content %}
    {% include 'components/hero.njk' %}

    {% include 'components/our_approach.njk' %}

    {% include 'components/building_a_crm.njk' %}
        
    {% include 'components/cta/book_demo.njk' %}

    {{ FeatureMulti('dark', multi_feature) }}

    {% include 'components/promise.njk' %}

    {% include 'components/industry_tabs.njk' %}
{% endblock %}
