{% extends "layouts/layout.njk" %}

{% block content %}
    {% include 'components/hero.njk' %}

    {% include 'components/our_approach.njk' %}

    {% include 'components/building_a_crm.njk' %}
        
    {% include 'components/cta/book_demo.njk' %}

    {% include 'components/feature_multi_tabs.njk' %}

    {% include 'components/promise.njk' %}

    {% include 'components/industry_tabs.njk' %}
{% endblock %}
