{% extends 'layouts/layout.njk' %}

{% block content %}
        {% include 'components/hero.njk' %}

        {% include 'components/client_logos.njk' %}
        
        {% include 'components/templates/explainer.njk' %}

        {% include 'components/templates/catalogue.njk' %}

        {% include 'components/templates/request_template.njk' %}
        
{% endblock %}
