
{# 

  Carousel Component

  {% import "./path/to/carousel.njk" as Carousel with context %}

  {% call Carousel(theme, class) %}
    // Add divs with the class "carousel-item"
  {% endcall %}

#}

{% import "./layouts.njk" as layouts %}
{% from "../components/atoms/button.njk" import Button %}
{% from "../components/atoms/icon.njk" import Icon %}
{% from "../components/atoms/angle.njk" import angle %}


{% macro item(item, class) %}
  <div id="{{item.label|slug}}" class="
    flex flex-col min-w-full carousel-item
    scroll-mt-[800px]
    {%if class != blank%} {{class}} {%endif%}
  " >
    {{ caller() }}
  </div>
{% endmacro %}

{% macro wrapper(items, class) %}

{% set uuid = uuid() %}

<div class="
  flex flex-col w-full col-span-2 relative
">
  <div class="
    scroll-container carousel_{{uuid}}
    flex overflow-x-scroll w-full
    p-5 pr-0 gap-10 h-min
    lg:p-10 lg:gap-20 lg:pr-0
    {%if class != blank%} {{class}} {%endif%}
  ">
    {{ caller() }}
  </div>

  <div
      id="carousel-pagination-wrapper_{{uuid}}" 
      class=" 
        flex gap-5 justify-between  
        md:col-span-2 md:place-self-center md:mt-auto 
      "> 
    <button id="carousel-prev_{{uuid}}" class="p-5 cursor-pointer"> 
        <i class="fas fa-fw fa-chevron-left" ></i> 
      </button> 

    {% for item in items %} 
      <button
          data-id="{{item.label|slug}}" 
          data-index="{{loop.index0}}"
          class=" 
            carousel-pagination_{{uuid}}
            hidden p-4 max-h-max max-w-max rounded-sm transition cursor-pointer hover:bg-rapid-blue hover:text-white text-grey-500 text-lg 
            md:block  md:text-xs 
        "
          >{{item.label}}
      </button> 
    {% endfor %} 

    <button id="carousel-next_{{uuid}}" class="p-5 cursor-pointer"> 
      {{ Icon("chevron-right") }} 
    </button> 
  </div> 

</div>


<style>
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  /* Add these properties to enable scrolling */
  overflow-y: auto; /* or scroll */
}
</style>

<script>
// Initialize the carousel by setting the first item as active
document.addEventListener('DOMContentLoaded', () => {
// Select all testimonials and tab buttons
const testimonials = document.querySelectorAll('.carousel_{{uuid}} .carousel-item');
const tabButtons = Array.from(document.querySelectorAll('.carousel-pagination_{{uuid}}'));
const nextButton = document.getElementById('carousel-next_{{uuid}}');
const prevButton = document.getElementById('carousel-prev_{{uuid}}');

// Define the active class styles
const activeClass = ["bg-rapid-blue", "hover:bg-ice-blue", "text-white", "block"];

// Set default active testimonial - first one in the list
let activeTestimonialIndex = 0;
let activeTestimonial = testimonials[activeTestimonialIndex];

// Function to set a testimonial as active
function setActive(index, scroll = true) {
  // Ensure index is within bounds
  if (index < 0) {
    index = testimonials.length - 1;
  } else if (index >= testimonials.length) {
    index = 0;
  }

  // Get the previouslyActiveButton 
  const previouslyActiveButton = tabButtons[activeTestimonialIndex];
  // add the hidden class back on 
  previouslyActiveButton.classList.add('hidden');
  
  // Update active index
  activeTestimonialIndex = index;
  
  // Get the testimonial element
  activeTestimonial = testimonials[activeTestimonialIndex];
  
  // Get the corresponding button
  const activeButton = tabButtons[activeTestimonialIndex];

  
  // Remove active class from all buttons
  tabButtons.forEach(button => {
    activeClass.forEach(c => button.classList.remove(c));
  });
  
  // Add active class to the current button
  activeClass.forEach(c => activeButton.classList.add(c));
  // Remove hidden so the active button shows on mobile
  activeButton.classList.remove('hidden');

  
  if (scroll) {
    const rect = document.documentElement.getBoundingClientRect();


    let scrollOptions = {
      inline: "center",
      block: "start",
      behavior: 'smooth'
    }

    const isDesktop = rect.height < rect.width;

    if (!isDesktop) {
      scrollOptions = {
        inline: "end",
        block: "center",
        behavior: 'smooth'
      }
    }

    // Scroll to the active testimonial
    activeTestimonial.scrollIntoView(scrollOptions);
  }
}

// Function to move to the next testimonial
function focusNext() {
  setActive(activeTestimonialIndex + 1);
}

// Function to move to the previous testimonial
function focusPrev() {
  setActive(activeTestimonialIndex - 1);
}

// Event handler for tab button clicks
function handleTabButtonClick(event) {
  const button = event.target.closest('.tablink-feature');
  
  if (button) {
    const buttonIndex = tabButtons.indexOf(button);
    setActive(buttonIndex);
  }
}

for (const tb of tabButtons) {
  tb.addEventListener('click', () => {
    const index = tb.dataset.index;

    if (!isNaN(+index)) {
      setActive(+index);
    }
  });
}

// Event handlers for next/prev buttons
nextButton.addEventListener('click', focusNext);
prevButton.addEventListener('click', focusPrev);

// Event delegation for tab buttons
const testimonialPagination = document.getElementById("carousel-pagination-wrapper_{{uuid}}");
testimonialPagination.addEventListener('click', handleTabButtonClick);

  const scrollOnLoad = false;
  setActive(0, scrollOnLoad);
});
</script>

{% endmacro %}
