
{# 
 feature tabs component has configuration options
 "feature": {
  "title": "string",
  "subTitle": "string",
  "heading_paragraph": "string/html",
  "features": [
    {
      "active_status": "button-active" | "button-not-active",
      "label": "string",
      "display": "none" | "block",
      "image_source": "string",
      "bulletPoints": [
        {
          "label": "string",
          "message": "string"
        }
      ]
    }
  ]
 }
#}

{% import "./layouts.njk" as layouts %}
{% import "./atoms/typography.njk" as typography %}
{% from "../components/atoms/button.njk" import Button %}
{% from "../components/atoms/icon.njk" import Icon %}
{% from "../components/atoms/angle.njk" import angle %}

{% call layouts.section('light', 'full') -%}

  {% call layouts.centerContainer('flex flex-col lg:flex-row') -%}
      
      <div class="flex flex-col" >
        {{ typography.title(feature.title) }}

        {{ typography.subTitle(feature.subTitle) }}

        {{ typography.content(feature.content) }}
      </div>

      

  {%- endcall %}

{%- endcall %}

<!-- <script> -->
<!--   function openTabs(evt, contentName) { -->
<!--     let i, tabContent, tabLinks; -->
<!--     tabLinks = document.getElementById("tabstrip-buttons").children; -->
<!--     for (i = 0; i < tabLinks.length; i++) { -->
<!--       tabLinks[i].className = tabLinks[i].className.replace("button-active", "button-not-active"); -->
<!--     } -->
<!--     evt.currentTarget.className = evt.currentTarget.className.replace("button-not-active", "button-active"); -->
<!---->
<!--     tabContent = document.getElementById("feature-tabs-content").children; -->
<!--     for (i = 0; i < tabContent.length; i++) { -->
<!--       tabContent[i].style.display = "none"; -->
<!--     } -->
<!--     document.getElementById(contentName).style.display = "block"; -->
<!--   } -->
<!-- </script> -->
