
{# 
 Feature multi tabs component has configuration options
 "multi_feature": {
  "minor_heading": "string",
  "major_heading": "string",
  "heading_paragraph": "string/html",
  "areas": [
    {
      "label": "string",
      "active_status": "button-active" | "button-not-active",
      "display": "none" | "block",
      "features": [
        {
          "active_status": "button-active" | "button-not-active",
          "label": "string",
          "display": "none" | "block",
          "image_source": "string",
          "bulletPoints": [
            {
              "label": "string",
              "message": "string"
            }
          ]
        }
      ]  
    }
  ]
 }
#}

<script>
  function openAreaTab(evt, contentName) {
    let i, tabContent, tabLinks;
    tabLinks = document.getElementById("tabstrip-top-links").children;
    for (i = 0; i < tabLinks.length; i++) {
      tabLinks[i].className = tabLinks[i].className.replace("button-active", "button-not-active");
    }
    evt.currentTarget.className = evt.currentTarget.className.replace("button-not-active", "button-active");

    tabContent = document.getElementById("tabs-multi-content-container").children;
    for (i = 0; i < tabContent.length; i++) {
      tabContent[i].style.display = "none";
    }
    document.getElementById("tab-" + contentName).style.display = "grid";
  }
</script>

<div class="feature-container center-content">
  <h6>{{multi_feature.minor_heading }}</h6>
  <h3>{{multi_feature.major_heading }}</h3>
  <p>{{multi_feature.heading_paragraph|safe}}</p>
  <div class="tabs-multi-container">
    <div id="tabstrip-top-links" class="tabstrip-buttons-horizontal">
      {% for area in multi_feature.areas %}
        {# Link block for outer tabs #}
        <button class="tablink-feature {{ area.active_status }}" onclick="openAreaTab(event, '{{area.label}}')">{{area.label}}</button>
      {% endfor %}
    </div>
    <div id="tabs-multi-content-container" class="tabs-multi-content">
      {% for area in multi_feature.areas %}
        {# Content block for inner tab controller #}
        <div id="tab-{{area.label}}" class="feature-tab-container" style="display:{{area.display}}">
          <div>
            {% for item in area.features %}
              {# Link block for inner tabs #}
              <p>{{item.label}}</p>
            {% endfor %}
          </div>
          <div id="content-{{area.label}}">
          {# Inner tab content #}
          <div style="display: {{ item.display }}" id="{{ item.label }}">
            <img src="{{ area.image_source }}"/>
          </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
