<div class="footer">
    <div class="flex-container-footer">
    <div class="flex-item-footer">
        <h3>CONTACT US</h3>
        <p><a href="mailto:info@rapidplatform.com?subject=Rapid Projects - Consulting Inquiry">info@rapidplatform.com</a></p>
    </div>
    <div class="flex-item-footer">
        <h3>OUR LOCATION</h3>
        <p>Unit 10, 107 Miles Platting Rd</p>
        <p>Eight Mile Plains, QLD 4113</p>
    </div>
    </div>
    <hr>
    <div class="footer-menu">
    <div>
        <p>Copyright &copy; 2024 - All Rights Reserved</p>
    </div>
    <div>
        <p><a href="https://www.google.com">Terms & Conditions</a></p>
    </div>
    <div>
        <p><a href="https://www.google.com">Privacy</a></p>
    </div>
    </div>
</div>