
{# Hero banner

add "hero" into page definition:

hero: {
  title: string;
  subtitle: string;
  vidoeId: string;
}

add video into page definition:

#}

{% import "components/layouts.njk" as layouts %}
{% from "components/youtube-video.njk" import youtubeVideo with context %}
{% from "components/atoms/angle.njk" import angle %}

{% call layouts.section('dark') -%}

  {% call layouts.centerContainer('flex relative z-10 pt-5 px-4 mb-[-150px] lg:mb-[-125px] flex-col sm:flex-row sm:pt-10') -%}
    <div class="
  flex justify-center flex-col 
  sm:flex-2/3
  md:flex-1/4 
  lg:pr-5
  " >
      <h1 class="
        text-white text-4xl font-sans font-bold
        md:text-3xl 
        lg:text-5xl
    " >{{ hero.title | safe }}</h1>
      <p class="
        text-rapid-blue text-lg my-5 font-light
        sm:text-sm
      " >
        {{ hero.subtitle | safe }}
      </p>
    </div>

    {% if hero.videoId != blank %}
      
      {{ youtubeVideo(hero.videoId, 'flex items-end justify-end flex-3/5 lg:flex-1/2') }}

    {% endif %}


  {%- endcall %}

  {{ angle('bottom') }}

{%- endcall %}

