
{# 
 industry tabs component has configuration options
 "industry": {
  "minor_heading": "string",
  "major_heading": "string",
  "heading_paragraph": "string/html",
  "quote": "string/html",
  "more_page": "URL path",
  "industries": [
    {
      "active_status": "button-active" | "button-not-active",
      "label": "string",
      "display": "none" | "block",
      "image_source": "string",
      "bulletPoints": [
        {
          "label": "string",
          "message": "string"
        }
      ]
    }
  ]
 }
#}

{% import "./layouts.njk" as layouts %}
{% from "../components/atoms/button.njk" import Button %}
{% from "../components/atoms/icon.njk" import Icon %}
{% from "../components/atoms/angle.njk" import angle %}

{% call layouts.section('dark', 'half', "max-h-max") -%} <!-- 'mt-[-200px] lg:mt-[-250px]') -%} -->

  {{ angle('top') }}

  {% call layouts.centerContainer('
    px-4 py-5 grid grid-cols-1 lg:grid-cols-3 auto-rows-auto
  ') -%}
      <div class="col-span-1 mb-10" >
        <h6 class="font-light text-rapid-blue uppercase" >{{ industry.minor_heading }}</h6>
        <h3 class="font-bold text-4xl my-5" >{{ industry.major_heading }}</h3>
        <p class="text-justify" >{{industry.heading_paragraph|safe}}</p>
      </div>


    <div class="
      flex flex-col w-full col-span-2 relative
    ">
      <div class="
        scroll-container 
        flex overflow-x-scroll w-full
        pt-50
        sm:pt-20
        p-5 pr-0 gap-10 h-min
        lg:p-20 lg:gap-20 lg:pr-0
      ">
      {% for item in industry.industries %}
        <div id="{{item.label|slug}}" class="
          flex flex-col min-w-full testimonial ml-5
          scroll-mt-[800px]
        " >
          <div class="
            min-w-full relative transition bg-rapid-blue rounded-lg p-4 h-full
            lg:min-h-[300px] 
          ">
            <div class="
              relative z-1 lg:pl-[130pt] flex flex-col h-full pt-15
              md:pt-0 md:pl-22
            ">
              <p>{{item.quote|safe}}</p>
              <p class="
                mt-auto font-bold text-lg text-right pt-5
              " >- {{item.quote_by|safe}}</p>
              <p class="font-light text-sm text-right" >{{item.label|safe}}</p>
            </div>

            {{ Icon('quote-left', "
              absolute text-ice-blue z-0 text-[100pt] left-[-25pt] top-[-25pt]
              text-[100pt] left-[-25pt] top-[-25pt]
              lg:top-[-50pt] lg:left-[-50pt] lg:text-[170pt] 
            ") }}
          </div>

          <div class="
            grid grid-cols-1 gap-10 pt-5
            sm:grid-cols-3
          ">

            {% for bullet in item.bullet_points %}

              <div class="flex flex-col items-center" >

                <div class="p-5 flex items-center justify-center" >

                    {% set iconName = industry.icons[bullet.label]  %}
                    {{ Icon(iconName, "text-rapid-blue fa-2x mr-2") }}

                    <p class="font-bold text-xl" >{{ bullet.label }}</p>
                </div>

                <p class="text-center" >{{ bullet.message }}</p>

              </div>

            {% endfor %}

          </div>

          <!-- <div class="industry-learn-floating relative z-1"><a href="{{item.more_page}}">Learn More</a></div> -->

        </div>

      {% endfor %}

    </div>

      <div
         id="testimonial-pagination-wrapper" 
         class=" 
           flex gap-5 justify-between mt-10 
           md:col-span-2 md:place-self-center md:mt-auto 
         "> 
         <button id="test-prev" class="p-5"> 
           <i class="fas fa-fw fa-chevron-left" ></i> 
         </button> 

         {% for item in industry.industries %} 
        <button
           data-id="{{item.label|slug}}" 
           data-index="{{loop.index0}}"
           class=" 
             test-feature 
             hidden p-4 max-h-max max-w-max rounded-sm transition cursor-pointer hover:bg-rapid-blue hover:text-white text-grey-500 text-lg 
             md:block  md:text-xs 
          "
           >{{item.label}}
          </button> 
         {% endfor %} 

         <button id="test-next" class="p-5"> 
           {{ Icon("chevron-right") }} 
         </button> 
       </div> 

    </div>


  {%- endcall %}

  {{ angle('bottom') }}

{%- endcall %}

<style>
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  /* Add these properties to enable scrolling */
  overflow-y: auto; /* or scroll */
}
</style>

<script>
// Select all testimonials and tab buttons
const testimonials = document.querySelectorAll('.testimonial');
const tabButtons = Array.from(document.querySelectorAll('.test-feature'));
const nextButton = document.getElementById('test-next');
const prevButton = document.getElementById('test-prev');

// Define the active class styles
const activeClass = ["bg-rapid-blue", "hover:bg-ice-blue", "text-white", "block"];

// Set default active testimonial - first one in the list
let activeTestimonialIndex = 0;
let activeTestimonial = testimonials[activeTestimonialIndex];

// Function to set a testimonial as active
function setActive(index, scroll = true) {
  // Ensure index is within bounds
  if (index < 0) {
    index = testimonials.length - 1;
  } else if (index >= testimonials.length) {
    index = 0;
  }

  // Get the previouslyActiveButton 
  const previouslyActiveButton = tabButtons[activeTestimonialIndex];
  // add the hidden class back on 
  previouslyActiveButton.classList.add('hidden');
  
  // Update active index
  activeTestimonialIndex = index;
  
  // Get the testimonial element
  activeTestimonial = testimonials[activeTestimonialIndex];
  
  // Get the corresponding button
  const activeButton = tabButtons[activeTestimonialIndex];

  
  // Remove active class from all buttons
  tabButtons.forEach(button => {
    activeClass.forEach(c => button.classList.remove(c));
  });
  
  // Add active class to the current button
  activeClass.forEach(c => activeButton.classList.add(c));
  // Remove hidden so the active button shows on mobile
  activeButton.classList.remove('hidden');

  
  if (scroll) {
    const rect = document.documentElement.getBoundingClientRect();


    let scrollOptions = {
      inline: "center",
      block: "start",
      behavior: 'smooth'
    }

    const isDesktop = rect.height < rect.width;

    if (!isDesktop) {
      scrollOptions = {
        inline: "end",
        block: "center",
        behavior: 'smooth'
      }
    }

    // Scroll to the active testimonial
    activeTestimonial.scrollIntoView(scrollOptions);
  }
}

// Function to move to the next testimonial
function focusNext() {
  setActive(activeTestimonialIndex + 1);
}

// Function to move to the previous testimonial
function focusPrev() {
  setActive(activeTestimonialIndex - 1);
}

// Event handler for tab button clicks
function handleTabButtonClick(event) {
  const button = event.target.closest('.tablink-feature');
  
  if (button) {
    const buttonIndex = tabButtons.indexOf(button);
    setActive(buttonIndex);
  }
}

for (const tb of tabButtons) {
  tb.addEventListener('click', () => {
    const index = tb.dataset.index;

    if (!isNaN(+index)) {
      setActive(+index);
    }
  });
}

// Event handlers for next/prev buttons
nextButton.addEventListener('click', focusNext);
prevButton.addEventListener('click', focusPrev);

// Event delegation for tab buttons
const testimonialPagination = document.getElementById("testimonial-pagination-wrapper");
testimonialPagination.addEventListener('click', handleTabButtonClick);

// Initialize the carousel by setting the first item as active
document.addEventListener('DOMContentLoaded', () => {
  const scrollOnLoad = false;
  setActive(0, scrollOnLoad);
});
</script>

