
{% from "./image_scroller.njk" import ImageScroller with context %}

{{ ImageScroller(microsoftIntegrations, 'w-[400px] sm:w-[500px] md:w-[500px]  place-self-center my-10', 'w-auto h-[3rem] max-w-none', 70) }}