
{% from "./image_scroller.njk" import ImageScroller with context %}

{{ ImageScroller(microsoftIntegrations, 'w-[500px] sm:w-[500px] md:w-[600px]  place-self-center my-10', 'w-[5rem] h-[5rem] max-w-none') }}
