<div class="nav-container"> 
    <div class="header" id="mainHeader">
        <div class="header-logo">
            <a href='/'><img src="/images/logos/RPD_logo_2D.svg"></a>
        </div>
        <div class="regular-header"> 
            <div class="navbar">
                <a href="/technology">Our Approach</a>
                <a href="/About">About Us</a>
                <a href="/campaign/government-crm">Government</a>
                <div class="dropdown">
                    <button class="dropbtn">Industries
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                    <a href="/industry/childcare">Childcare</a>
                    <a href="/industry/construction">Construction</a>
                    <a href="/industry/y">Pinecones</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-header"> 
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <!-- These spans are needed for displaying the hamburger icon -->
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <a href="/technology">
                        <li>Our Approach</li>
                        </a>
                        <a href="/about">
                        <li>About Us</li>
                        </a>
                        <a href="/campaign/government-crm">
                        <li>Advantage</li>
                        </a>
                        <li>Industries</li>
                        <div class= "sub-menu">
                           <li> <a href="/industry/childcare">Childcare</a></li>
                           <li> <a href="/industry/construction">Construction</a></li>
                           <li> <a href="/industry/y">Pinecones</a></li>
                           </div>
                        </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>