{# 
  Change menu items in /src/data/main.json


/src/data/main.json
{
...other content
  nav: {
    logo: {
      // large logo to show on desktop 
      desktopSrc: string;
      // small logo to show on mobile 
      mobileSrc: string;
      link: string;
      alt: string;
    },
    ctaButton: {
      link: string;
      text: string;
    },
    menu: [
      {
        label: string;
        link: string;
        // Currently only one level of nesting is supported
        children?: [
          {
            text: string;
            link: string;
            // So the children can't have children
          }
        ]
      }
    ]
  }
...other content
}
#}

<div class="nav-container"> 
    <div class="header" id="mainHeader">

        <div class="regular-header"> 
          <div class="header-logo">
            <a href="{{nav.logo.link}}"><img src="{{nav.logo.desktopSrc}}" alt="{{nav.logo.alt}}"></a>
          </div>

            <div class="navbar">
              {% for menuItem in nav.menu %}

                {% if menuItem.children == blank %}

                  <a href="{{menuItem.link}}">{{menuItem.text}}</a>

                {% else %}

                  <div class="dropdown">

                      <button class="dropbtn">
                        {{menuItem.text}}
                        <i class="fa fa-caret-down"></i>
                      </button>

                      <div class="dropdown-content">

                      {% for subMenuItem in menuItem.children %}
                        <a href="{{subMenuItem.link}}">{{subMenuItem.text}}</a>
                      {% endfor %}

                      </div>

                  </div>

                {% endif %}

              {% endfor %}
            </div>

            <a href="{{nav.ctaButton.link}}" >
              <button>
                {{nav.ctaButton.text}}
              </button>
            </a> 
        </div>

        <div class="mobile-header"> 
            <div class="header-logo">
              <a href="{{nav.logo.link}}"><img src="{{nav.logo.mobileSrc}}" alt="{{nav.logo.alt}}"></a>
            </div>

            <a href="{{nav.ctaButton.link}}" >
              <button>
                {{nav.ctaButton.text}}
              </button>
            </a> 

            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <!-- These spans are needed for displaying the hamburger icon -->
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                      {% for menuItem in nav.menu %}

                        {% if menuItem.children == blank %}

                          <li>
                            <a href="{{menuItem.link}}">{{menuItem.text}}</a>
                          </li>

                        {% else %}

                          <li class="dropdown">

                              {{menuItem.text}}

                              <ul class="sub-menu">

                              {% for subMenuItem in menuItem.children %}
                                <li>
                                  <a href="{{subMenuItem.link}}">{{subMenuItem.text}}</a>
                                </li>
                              {% endfor %}

                              </ul>

                          </li>

                        {% endif %}

                      {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
