{# 
  Change menu items in /src/data/main.json
/src/data/main.json
{
...other content
  ourApproach: {
    subTitle: string;
    title: string;
    // To allow for custom styling options i.e. strong
    // this string is rendered as HTML
    content: HTMLString;
    
    image: {
      src: string;
      link: string;
      alt: string;
    },

    ctaButton: {
      link: string;
      text: string;
    },
  }
...other content
}
#}

<div class='our-approach landing-purpose skeleton block-half background-light text-light'>

  <img class="our-approach__image animate fade-up" src="{{ourApproach.image.src}}" alt="{{ourApproach.image.alt}}"/>

  <div class="our-approach__details" >
    <h5 class="our-approach__title" >{{ ourApproach.title }}</h5>

    <h3 class="our-approach__sub-title" >
      <strong>
        {{ ourApproach.subTitle }}
      </strong>
    </h3>

    <div class="our-approach__content" >

      {{ ourApproach.content | safe }}

      <a href="{{ourApproach.ctaButton.link}}">
        <button class="button-cool-light button-large">
          {{ourApproach.ctaButton.text}}
        </button>
      </a>

    </div>
  </div>

</div>

<style>
  .our-approach {
    --padding-width: calc((100vw - var(--page-width)) / 2);
    padding: 100px var(--padding-width);

    position: relative;

    display: flex;
    justify-content: end;
    align-items: center;

    .our-approach__image {
      position: absolute;
      left: -10%;
    }

    .our-approach__details {
      text-align: justify;

      width: 45%;

      .our-approach__title {
        text-transform: uppercase;
      }
    }

  }
  
  @media (max-width: 1500px) {
    .our-approach {
      position: relative;

      display: flex;
      justify-content: end;
      align-items: center;

      .our-approach__image {
        position: absolute;
        left: -10%;
      }

      .our-approach__details {
        text-align: justify;

        width: 40%;

        .our-approach__title {
          text-transform: uppercase;
        }
      }

    }
  }

  @media (max-width: 1300px) {
    .our-approach {
      position: relative;

      display: flex;
      flex-direction: column-reverse;
      justify-content: end;
      align-items: center;

      .our-approach__image {
        margin-top: 100px;
        position: relative;
        width: calc(100vw + 10vw);
        left: unset;
      }

      .our-approach__details {
        text-align: justify;

        width: 100%;

        .our-approach__title {
          text-transform: uppercase;
        }
      }

    }
  }
</style>
