

{% from "../components/atoms/button.njk" import Button %}
{% from "../components/atoms/icon.njk" import Icon %}
{% from "../components/atoms/logo.njk" import Logo with context %}
{% from "../components/atoms/angle.njk" import angle %}
{% import "../components/atoms/typography.njk" as typography  %}
{% import "./layouts.njk" as layouts %}

{% call layouts.section('dark', 'half') -%}

  {{angle('top')}}

  {% call layouts.centerContainer('px-4 py-2 items-center flex flex-col md:flex-row-reverse') -%}

    <div class="flex-1/2">
        
        {{typography.title(ourPromise.title, 'left')}}

        {{typography.subTitle(ourPromise.subTitle, 'left')}}

        {{typography.content(ourPromise.content, 'left')}}

    </div>

    <div class="flex-1/2">

      <img 
        class="aspect-auto h-max md:w-auto lg:w-4/5 shadow-sm shadow-black rounded-xl relative z-10 mt-20 "
        src='{{ourPromise.image.src}}' 
        alt="{{ourPromise.image.alt}}" 
      />

      <div  class="p-4 bg-rapid-blue rounded-lg z-10 relative max-w-max -mt-10 -ml-10" >
        {{ourPromise.image.caption | safe}}
      </div>

    </div>

  {%- endcall %}

  {{angle('bottom')}}

{%- endcall %}
