{% import "./layouts.njk" as layouts %}
{% import "./atoms/typography.njk" as typography %}
{% from "./atoms/angle.njk" import angle %}
{% from "../components/atoms/icon.njk" import Icon %}

{% call layouts.section('light', 'quarter') -%}

  {% call layouts.centerContainer('p-8') -%}

    {{ typography.title(requestQuote.title) }}
    {{ typography.subTitle(requestQuote.subTitle) }}
    {{ typography.content(requestQuote.content) }}

    {% include '../components/cta/get_a_quote.njk' %}

  {%- endcall %}

{%- endcall %}

