<meta name="organization" content="lPMPWAHWCWOq5wn4sPiutUQXW7BXHSxLZ3FT8OF4Pms" />
<script type="application/ld+json">
{    
    "@context": "https://schema.org",
	"@type": "Organization",
    "name": "RapidPlatform",
    "numberOfEmployees": {
      "@type": "QuantatativeValue",
      "minValue": 10,
      "maxValue": 20
    },
    "url":"https://rapidplatform.com/",
    "foundingDate": "2011",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "10b/107 Miles Platting Rd, Eight Mile Plains QLD 4113",
      "addressLocality": "Eight Mile Plains",
      "addressRegion": "QLD",
      "postalCode": "4113",
      "addressCountry": "AU"
    },
    "contactPoint": {
      "@type": "Contact",
      "email": "info@rapidplatform.com.aum"
    },
}
</script>