<!-- Verification for jolly bush domain, replace on production deployment -->
<!-- Controlled by the Goole Search Console -->
<meta name="google-site-verification" content="lPMPWAHWCWOq5wn4sPiutUQXW7BXHSxLZ3FT8OF4Pms" />
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "WebApplication",
	"name": "Rapid Platform",
	"operatingSystem": "Web Browser",
	"browserRequirements": "requires Chrome or Firefox",
	"applicationCategory": "BusinessApplication",
	"offers": [
		{
			"@type": "Offer",
			"businessFunction": "ProvideService",
			"checkoutPageURLTemplate": "https://app.rapidplatform.com/signup/rapid-platform",
			"itemOffered": {
				"@type": "Service",
				"name": "Standard",
				"description": "Rapid Standard gets you started building your perfect system right away."
			},
			"price": 330.0,
			"priceCurrency": "AUD",
			"termsOfService": "https://rapidplatform.com/product-terms-and-conditions/",
			"logo": "https://cdn.rapidplatform.com/themes/rapidplatform/images/2d_logo_stacked.png"
		},
		{
			"@type": "Offer",
			"businessFunction": "ProvideService",
			"checkoutPageURLTemplate": "https://app.rapidplatform.com/signup/rapid-platform",
			"itemOffered": {
				"@type": "Service",
				"name": "Enterprise",
				"description": "Improve your systems and get expert advice and support with Rapid Enterprise"
			},
			"price": "Contact Sales",
			"termsOfService": "https://rapidplatform.com/product-terms-and-conditions/",
			"logo": "https://cdn.rapidplatform.com/themes/rapidplatform/images/2d_logo_stacked.png"
		}
	]
}
</script>