{% import "../layouts.njk" as layouts %}

{% call layouts.section('light', 'quarter', 'flex items-center') %}

  {% call layouts.centerContainer('p-4 w-full flex gap-5 items-center justify-center') %}
    
    <h1>Rapid Platform Updates</h1>

  {% endcall %}

{% endcall %}
