<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
    <link rel="stylesheet" href="/src/styles/about.css">
</head>
    <body>
        {% include '../components/nav.njk' %}

        <div class='hero-with-content splash-small text-dark background-dark'>
            {# Hero banner #}
            <div class="content-narrow-column">
                {# Hero Content #}
                <div>
                    <h1><span class="text-highlight-cool-dark">Our mission</span> is to make your life easier</h1>
                    <p>We are experts in process automation, enabling your business to leverage its data for rapid growth.</p>
                </div>
            </div>
        </div>
        <div class='about-our-message skeleton block-full'>
            {# Our Message! #}
            <div class='content-full-column text-light background-light'>
                <div class='container-two-columns-lefthanded'>
                    <div>
                        <h2 class="text-highlight-cool-light">It all started with a fascination with technology.</h2>
                        <p>Rapid Platform was established in 2011 by founder and CEO Mitchell Hunt, and is driven by his passion for empowering people and organisations to achieve their full potential.</p>
                        <p>The idea for Rapid Platform started with the property development and construction industry. Organising people, activities and documents is always a challenge and every department had their own specific details to track. Mitchell found himself looking for tools with the flexibility to serve each group and the power to facilitate communication, but nothing covered all the bases.</p>
                        <p>Rapid Platform was developed working with customers and keeping their diverse needs in mind. Juggling multiple perspectives drove the design to be highly configurable and bring the control to the people that need it. Organising between people and needing to communicate expectations led to the development of a BPMN workflow engine. </p>
                        <p>After a few years the platform had gotten so general, powerful and user driven it had outgrown any single industry. Automation and a single source of truth all wrapped in a highly configurable package; it could do it all. The past few years rolling out Rapid Platform into more and more industries has been a joy. Heading into a business that is systemically struggling and being able to help quickly and sustainably is a genuine source of motivation to everyone here.</p>
                        <p>Looking forward to the future, it is our mission to empower others. Systems don’t have to be manual. Communication doesn’t need to be ad-hoc. Expectations within your organisation and for your customers can be met. You know your business better than anyone. We know how to systemise that knowledge.</p>
                        <p>Technology doesn’t have to get in your way.</p>
                    </div>
                    <div>
                        <img id="image-mitch" src="/src/assets/images/mitch.png"></img>
                    </div>
                </div>
            </div>
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        {% include '../components/footer.njk' %}
    </body>
</html>
