<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
</head>
    <body>
        {% include '../components/nav.njk' %}
        <div id="wrap"> {# Content minimum height wrapper, place between nav and footer #}

        <div class='hero-with-content splash-small'>
            {# Hero banner #}
            <div class='hero-content'>
                {# Hero Content #}
                <div class='center-content' style="padding: 32px; background-color: #ffffffe0;">
                    <h2 style="text-align: center;">About Us</h2>
                    <p>
                        A brief history of rapid platform; <br /> 
                        Lorem ipsum odor amet, consectetuer adipiscing elit. Pulvinar arcu commodo, mi curae porttitor condimentum. <br /> 
                        Euismod arcu class habitasse et consequat nisi. Nullam eget ante class vulputate egestas molestie pretium nisl. <br />
                        Congue ligula neque volutpat fringilla dignissim. Magnis nam aliquet dictumst tellus non dictum; euismod maecenas.<br />
                    </p>
                </div>
            </div>
        </div>
        <div class='about-our-message skeleton block-full'>
            {# Our Message! #}
            <div>
                <img />
                <p></p>
            </div>
            <div>
                <img />
                <p></p>
            </div>
            <div>
                <img />
                <p></p>
            </div>
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        </div> {# End of Wrap div #}
        {% include '../components/footer.njk' %}
    </body>
</html>
