<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
</head>
    <body>
        {% include '../components/nav.njk' %}
        <div id="wrap"> {# Content minimum height wrapper, place between nav and footer #}

        <div class='hero-with-content splash-small'>
            {# Hero banner #}
            <div class='hero-content'>
                {# Hero Content #}
            </div>
        </div>
        <div class='about-our-message skeleton block-full'>
            {# Our Message! #}
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        </div> {# End of Wrap div #}
        {% include '../components/footer.njk' %}
    </body>
</html>
