<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
    {% include '../components/google/organization.njk' %}
    <link rel="stylesheet" href="/src/styles/about.css">
</head>
    <body>
        {% include '../components/nav.njk' %}

        <div class='hero-with-content splash-small text-dark background-dark'>
            {# Hero banner #}
             <div class="content-full-column">
                <h1> Enterprise technology, delivered by the team who built it.</h1>
                <div class="container-two-columns">
                    <div>
                        <p>Tech in the cloud, team on the ground.</P>
                        <a href="{{url_get_started}}" target="_blank"><button class="button-warm-dark button-large">BOOK A DEMO</button></a>
                    </div>
                    <div>
                        <iframe class="video-hero-landing" width="560" height="315" src="{{url_video_embed}}" title="{{title_video_embed}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="approach-methodology skeleton block-half text-light background-light">
            {# Our Method #}
            <div class="content-full-column text-center">
                <div class="spacer-small"></div>
                <h6>METHODOLOGY</h6>
                <h2>Our Tech➕Team approach</h2>
                <p>Our proprietary technology was built in-house over the last 8 years. It’s highly configurable and designed to scale as you grow. Our expert team knows this technology inside and out. Agile, fast, and efficient, we configure it so it fits your business like a glove.</p>
                <p>Bottom line: We don’t just give you software. We take full ownership of your success, ensuring a smooth and fast transformation.</p>
                <div class="container-four-columns">
                    <div class="container-flex-vertical-center">
                        <img src="/src/assets/images/approach/tick-clock.png" />
                        <strong>Fast to implement</strong>
                    </div>
                    <div class="container-flex-vertical-center">
                        <img src="/src/assets/images/approach/tick-shield.png" />
                        <strong>Low-risk</strong>
                    </div>
                    <div class="container-flex-vertical-center">
                        <img src="/src/assets/images/approach/light-bulb.png" />
                        <strong>Guided by experts</strong>
                    </div>
                    <div class="container-flex-vertical-center">
                        <img src="/src/assets/images/approach/arrows.png" />
                        <strong>Flexible solutions</strong>
                    </div>
                </div>
                <div class="spacer-small"></div>
            </div>
        </div>

        <div class="approach-tech-team skeleton block-half text-dark background-dark">
            {# Tech + Team #}
            <div class='content-full-column'>
                <div class="container-columns container-width-narrow self-horizontal-center ">
                    <img class="approach-plus-images" src='/src/assets/images/approach/tech-plus.png' />
                    <p>Rapid technology built on Microsoft Azure. It's fast to configure, modular and built to adapt as your business grows. We maintain it in-house, you don't have to worry about maintenance and upgrades - it's all taken care of.</p>                    
                </div>
                <div class="container-width-narrow self-horizontal-center">
                    <br/>
                    <h3>The platform low-code components that power fast, flexible transformation.</h3>
                    <br/>
                </div>
                <div class="container-four-columns approach-container-logos">
                    <div class="container-centre-img">
                        <img src="/src/assets/images/approach/1.svg"/>
                        <br/>
                        <h4>Dynamic Database</h4>
                        <p>Model your data, customise logic, and adapt as you grow - no dev required.</p>
                    </div>
                    <div class="container-centre-img">
                        <img src="/src/assets/images/approach/2.svg"/>
                        <br/>
                        <h4>Workflow Engine</h4>
                        <p>Streamline operations with powerful workflows that move work forward.</p>
                    </div>
                    <div class="container-centre-img">
                        <img src="/src/assets/images/approach/3.svg"/>
                        <br/>
                        <h4>Digital Forms</h4>
                        <p>Collect the right info at the right time from teams, clients, or the public.</p>
                    </div>
                    <div class="container-centre-img">
                        <img src="/src/assets/images/approach/4.svg"/>
                        <br/>
                        <h4>Advanced BI</h4>
                        <p>Make fast, data-backed decisions with Power BI dashboards built in.</p>
                    </div>
                </div>
                <div class="container-columns container-width-narrow self-horizontal-center">
                    <p>We're with you every step of the way. Our consultants and developers become an extension of your team - guiding the process, solving problems and making sure your tech works seamlessly from day one.</p>
                    <img class="approach-plus-images" src='/src/assets/images/approach/plus-team.png' />
                </div>
                <div class="spacer-small"></div>
            </div>
        </div>

        <div class="approach-justification skeleton block-half text-light background-light">
            {# Justification #}
            <div class="content-full-column">
                <div class="container-two-columns">
                    <div>
                        <h3>Tech transformation doesn't have to be risky.</h3>
                        <p>We've seen the blowouts and breakdowns - so we built a better way.</p>
                        <p>With 8 years behind our own platform, we deliver industry-ready solutions that evolve with you. Our iterative, low-risk approach means progress you can trust - one smart step at a time. </p>
                        <p>No chaos. No curveballs. Just steady, smooth transformation.</p>
                        <a href="{{url_get_started}}" target="_blank"><button class="button-cool-light button-large">BOOK A DEMO</button></a>
                    </div>
                    <div>
                        <img src="/src/assets/images/approach/team-laughing.png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="approach-blueprint skeleton block-half text-dark background-dark">
            {# Blueprint cards #}
            <div class="spacer-small"></div>
            <div class="content-full-column">
                <div class="text-center">
                    <h3>Your blueprint for <span class="text-highlight-cool-dark">digital excellence<span></h3>
                </div>
                <div class="container-two-columns">
                    {% for item in faculties %}
                    <div class="container-flex-vertical-center card-padded">
                        <img class="card-large-icon" src="{{item.logo_url}}" />
                        <h3>{{item.heading}}</h3>
                        <p>{{item.content}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="center-content content-narrow-column text-center">
                <h4 class="text-highlight-cool-dark">Integrated with the Best of Microsoft</h4>
                </br>
                <div class="approach-container-logos">
                    <span class="text-highlight-cool-light">&lt;</span>
                    <img src="/src/assets/images/approach/ms-office-365.svg" />
                    <img src="/src/assets/images/approach/ms-outlook.svg" />
                    <img src="/src/assets/images/approach/ms-power-automate.svg" />
                    <img src="/src/assets/images/approach/ms-power-bi.svg" />
                    <span class="text-highlight-cool-light">&gt;</span>
                </div>
            </div>
            <div class="spacer-small"></div>
        </div>

        <div class="approach-team skeleton block-half text-light background-light">
            {# Meet the Team *TF2 Music* #}
            <div class="content-narrow-column text-center">
                <h3>Meet the team</h3>
                <p>Our consultants deliver tech solutions that shift your business forward</p>
                <div class="card-grid">
                    {% for item in team%}
                    <div class="card-vertical">
                        <img src="{{item.image_url}}" />
                        <p>{{item.name}} - {{item.position}}</p>
                        </br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="approach-CTA skeleton block-half text-dark background-dark">
            {% include '../components/cta/book_demo.njk'%}
        </div>

        <div class="approach-promise skeleton block-half text-light background-light">
            {# Our Promise #}
            <div class="spacer-small"></div>
            <div class="content-narrow-column">
                <div class="text-center">
                    <h6>OUR PROMISE</h6>
                    <h3>From idea to implementation, we're with you every step of the way.</h3>
                    </br>
                </div>
                <div class="container-two-columns">
                    <div class="container-vertical-center">
                        <p>"We don't just provide tech solutions - we partner with you to understand your unique challenges, create tailored solutions, and ensure seamless execution.</p>
                        <p>Our goal is to see your vision come to life, unlocking the power of technology so your business can thrive as it grows and changes."</p>
                    </div>
                    <div class="text-center">
                        <img src="/src/assets/images/approach/mitch.png"/>
                        <p>Mitch Hunt - CEO &amp; Cofounder of Rapid Platform</p>
                    </div>
                </div>
            </div>
            <div class="spacer-small"></div>
        </div>
        
        {% include '../components/footer.njk' %}
    </body>
</html>
