<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
</head>
    <body>
        {% include '../components/nav.njk' %}
        <div id="wrap"> {# Content minimum height wrapper, place between nav and footer #}

        <div class='hero-with-cta splash-big'>
            {# Hero banner #}
            <div class='hero-cta'>
                {# Hero Call to Action #}
            </div>
        </div>
        
        <div class='campaign-pain skeleton block-full'>
            {# Speak to pain! #}
        </div>

        <div class='campaign-justication skeleton block-full'>
            {# Justify consensus in the market for buying #}
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        </div> {# End of Wrap div #}
        {% include '../components/footer.njk' %}
    </body>
</html>
