<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
    <link rel="stylesheet" href="/src/styles/campaign.css">
</head>
    <body>
        {% include '../components/nav.njk' %}

        <div class='hero-with-cta splash-big background-dark text-dark' style="background-image: url({{splashImage}}), background-repeat: no-repeat;">
            {# Hero banner #}
            <div class='hero-cta'>
                {# Hero Call to Action #}
                <div class='content-full-column text-center'>
                    <div>
                        <span>
                        <h1>{{splashTitle|safe}}</h1>
                        <br> 
                        <h4>{{marketTargetedTagline|safe}}</h4>
                        </span> 
                    </div>
                    <div>
                        {% include '../components/cta/herocda.njk' %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class='campaign-pain skeleton block-full background-light text-light'>
            {# Speak to pain! header#}
            <div class="content-full-column">
                <div>
                    <span>{{pain.majorArgument|safe}}</span>
                </div>
                {#Three images and three ways we can help#}
                <div> 
                    <div>
                        <div class= "image-offer" style="background-image: url({{pain.imageOneOffer}});"></div>
                        <div Style='text-align:center; padding-bottom:30px'>
                            {# Speak to pain text 1#}
                            <br>{{pain.offerOne|safe}}
                        </div>
                    </div>
                    <div>
                        <div class= "image-offer" style="background-image: url({{pain.imageTwoOffer}});"></div>
                        <div Style='text-align:center; padding-bottom:30px'>
                            {# Speak to pain text 1#}
                            <br>{{pain.offerTwo|safe}}
                        </div>
                    </div>
                    <div>
                        <div class= "image-offer" style="background-image: url({{pain.imageThreeOffer}});"></div>
                        <div Style='text-align:center; padding-bottom:30px'>
                            {# Speak to pain text 1#}
                            <br>{{pain.offerThree|safe}}
                        </div>
                    </div>
                </div>   
                <div class='block-quote' style='padding-top:110px; padding-bottom:90px'>
                    <div>
                        {{pain.closingArgument|safe}}
                    </div>
                </div>
            </div>
        </div>

        <div class='campaign-justification skeleton block-half background-dark text-dark'>
            {# Justify consensus in the market for buying #}
        </div>

        <div class='landing-justification skeleton block-half background-light text-light'>
            {# Justification why other people think we're great #}

        </div>


        {% include '../components/cta/knowmore.njk' %}
        
        {% include '../components/footer.njk' %}
    </body>
</html>
