<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
</head>
    <body>
        {% include '../components/nav.njk' %}
        
        <div class='hero-with-cta first-element'>
            Hero banner
            <div class='hero-cta'>
                Hero Call to Action
            </div>
        </div>
        
        <div class='campaign-pain skeleton'>
            Speak to pain!
        </div>

        <div class='campaign-justication skeleton'>
            Justify consensus in the market for buying
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        {% include '../components/footer.njk' %}
    </body>
</html>
