<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
    <link rel="stylesheet" href="/src/styles/about.css">
</head>
    <body>
        {% include '../components/nav.njk' %}

        <div class='hero-with-content splash-small text-dark background-dark'>
            {# Hero banner #}
            <div class="content-narrow-column">
                {# Hero Content #}
                <div>
                    <h1>Get in contact with a <span class="text-highlight-cool-dark">Rapid</span> consultant</h1>
                </div>
            </div>
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        {% include '../components/footer.njk' %}
    </body>
</html>
