{% extends "./layout.njk" %}

{% from "../components/atoms/angle.njk" import angle %}
{% from "components/feature_multi_tabs.njk" import FeatureMulti with context %}
{% from "components/three_cards.njk" import ThreeCards with context %}

{% block content%}
  {% include '../components/hero.njk' %}

  {% include '../components/benefits.njk' %}

  {{angle('top')}}

  {% include '../components/campaign_pitch.njk' %}

  {{angle('bottom')}}

  {{ FeatureMulti('light', industry_features) }}

  {{ ThreeCards(benefits.metrics) }}

  {% include '../components/testimonial.njk' %}

  <div class="hidden">

  <div class='campaign-quote-form skeleton block-half background-dark text-dark'>
      {# Booking form to get a quote #}
      <div class="content-narrow-column">
          <h6>REQUEST A QUOTE</h6>
          <h3>How much does Rapid cost?</h3>
          <p>Let us know a bit about your organisation and what you'd like to achieve &mdash; we'll get in contact with you shortly.</p>
          {% include '../components/cta/get_a_quote.njk' %}
          <div class="spacer-small"></div>
      </div>
  </div>

  {% include '../components/cta/book_demo.njk' %}
</div>
{% endblock %}
