{% extends "./layout.njk" %}

{% from "../components/atoms/angle.njk" import angle %}
{% from "components/feature_multi_tabs.njk" import FeatureMulti with context %}
{% from "components/three_cards.njk" import ThreeCards with context %}

{% block content%}
  {% include '../components/hero.njk' %}

  {% include '../components/benefits.njk' %}

  {{angle('top')}}

  {% include '../components/campaign_pitch.njk' %}

  {{angle('bottom')}}

  {{ FeatureMulti('light', industry_features) }}

  {{ ThreeCards(benefits.metrics) }}

  <div class="hidden">

  <div class='campaign-justification skeleton block-half background-light text-light'>
      {# Justify consensus in the market for buying #}
      <div class="content-full-column testimony">
          <!--Testimonials-->
          <div class="testimony-card">
              <div class="container-row">
                  <img src="{{testimonial.faceURL}}">
                  <div class="container-vertical-center">
                      <span id="testimonial-name">{{testimonial.name}}</span><br>
                      <span id="testimonial-company">
                          <b>{{testimonial.company}}</b>
                      </span>
                  </div>
              </div>
              <div class="quote-marks text-highlight-cool-light">
                  <span>&ldquo;</span>
              </div>
              <div>
                  {{testimonial.quote|safe}}
              </div>
          </div>
      </div>
  </div>

  <div class='campaign-quote-form skeleton block-half background-dark text-dark'>
      {# Booking form to get a quote #}
      <div class="content-narrow-column">
          <h6>REQUEST A QUOTE</h6>
          <h3>How much does Rapid cost?</h3>
          <p>Let us know a bit about your organisation and what you'd like to achieve &mdash; we'll get in contact with you shortly.</p>
          {% include '../components/cta/get_a_quote.njk' %}
          <div class="spacer-small"></div>
      </div>
  </div>

  {% include '../components/cta/book_demo.njk' %}
</div>
{% endblock %}
