<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
    <link rel="stylesheet" href="/src/styles/campaign.css">
</head>
    <body>
        {% include '../components/nav.njk' %}

        <div class='hero-with-cta splash-big background-dark text-dark' style="background-image: url({{splashImage}}); background-repeat: no-repeat;">
            {# Hero banner #}
            <div class='hero-cta'>
                {# Hero Call to Action #}
                <div class='content-full-column text-center'>
                    <div>
                        <span>
                        <h1>{{splashTitle|safe}}</h1>
                        <br> 
                        <h4>{{marketTargetedTagline|safe}}</h4>
                        </span> 
                    </div>
                    <div>
                        <a href="{{url_get_started}}" target="_blank"><button class="button-warm-dark button-large">BOOK A DEMO</button></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class='campaign-pain skeleton block-half background-light text-light'>
            {# Speak to pain! header#}
            <div class="content-full-column">
                <div class="container-columns">
                    <div>
                        {# Video #}
                        <iframe class="iframe-youtube-fill" src="{{benefits.videoURL}}" title="{{benefits.videoTitle}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div>
                        {# Benefits List #}
                        <h3>{{benefits.title}}</h3>
                        {% for item in benefits.bulletPoints %}
                        <div class="check-list">
                            <img src="/src/assets/images/decorations/list-check.png" />
                            <p><strong>{{item.label}}</strong> {{item.message}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class='campaign-pitch skeleton block-half background-dark text-dark'>
            {# Pitch the solution #}
            <div class="content-full-column text-center container-flex-vertical-center">
                <div class="spacer-small"></div>
                <h3>{{pitch.heading}}</h3>
                <p>{{pitch.message|safe }}</p>
                <a href="{{url_book_demo}}" target="_blank"><button class="button-cool-light button-large">BOOK A DEMO</button></a>
            </div>
        </div>

        <div class='campaign-features skeleton block-full background-light text-light'>
            {# Show off what you get #}
            <div class="content-full-column">
                {% include '../components/feature_tabs.njk' %}
                <div class="spacer-small"></div>
            </div>
        </div>

        <div class='campaign-benefits skeleton block-half background-dark text-dark'>
            {# Describe the benefits you get #}
            <div class="content-full-column text-center">
                <div class="spacer-small"></div>
                <div class="container-three-columns">
                    {# Columns #}
                    {% for item in benefits.metrics %}
                    <div>
                        <div>
                            <img src="{{item.image}}">
                        </div>
                        <div>
                            <h4>{{item.heading}}</h4>
                            <p>{{item.message}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class='campaign-justification skeleton block-half background-light text-light'>
            {# Justify consensus in the market for buying #}
            <div class="content-full-column testimony">
                <!--Testimonials-->
                <div class="testimony-card">
                    <div class="container-row">
                        <img src="{{testimonial.faceURL}}">
                        <div class="container-vertical-center">
                            <span id="testimonial-name">{{testimonial.name}}</span><br>
                            <span id="testimonial-company">
                                <b>{{testimonial.company}}</b>
                            </span>
                        </div>
                    </div>
                    <div class="quote-marks text-highlight-cool-light">
                        <span>&ldquo;</span>
                    </div>
                    <div>
                        {{testimonial.quote|safe}}
                    </div>
                </div>
            </div>
        </div>

        <div class='campaign-quote-form skeleton block-half background-dark text-dark'>
            {# Booking form to get a quote #}
            <div class="content-full-column">
                <h6>INSTANT QUOTE</h6>
                <h3>How much does Rapid cost?</h3>
                <p>Let us know a bit about your organisation and what you'd like to achieve &mdash; we'll give you an instant quote</p>
                {% include '../components/cta/quote_form.njk' %}
                <div class="spacer-small"></div>
            </div>
        </div>

        {% include '../components/cta/book_demo.njk' %}
        
        {% include '../components/footer.njk' %}
    </body>
</html>
