<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../components/global_head.njk' %} 
    {% include '../components/google/organization.njk' %}
  </head>
  <body>
    {% include '../components/nav.njk' %} 

    {% include '../components/hero.njk' %}

    {% include '../components/our-approach.njk' %}
        
    {% set videoId = "building-a-crm" %}
    {% include "../components/full-width-video.njk" %}
        
    <!-- <div class='landing-demo skeleton block-half background-light'> -->
    <!--     {# Book a Demo CTA #} -->
    <!--     {% include '../components/cta/book_demo.njk' %} -->
    <!-- </div> -->
    <!---->
    <!-- <div class="landing-benifit skeleton block-half background-dark"> -->
    <!--   <div class="content-full-column"> -->
    <!--     {% include '../components/feature_multi_tabs.njk' %} -->
    <!--   </div> -->
    <!-- </div> -->

    <div class="landing-promise skeleton block-half background-dark">
      {# Our brand promise #}
      <div class="content-full">
        <div class="spacer-small"></div>
        <div class="content-full-column text-dark text-center">
          <p>
            At Rapid, we're more than developers, consultants, and technologists — <br>we're your partners in business.<br />
          </p>
          <p>
            We know technology can unlock incredible growth — boosting sales, <br>streamlining operations, and elevating customer experiences. But if done wrong, <br>it creates complexity, delays, and chaos.
          </p>
          <br>
          <br>
          <img src="src/assets/images/black-heart-tick.png" width="50" />
          <p><strong>Our promise is simple:</strong></p>
          <p><strong>Enterprise-grade solutions that feel effortless.</strong>
          <br>Delivered with speed, precision, and a deep focus on what moves your business forward. 
          <br>We listen first, move fast, and solve what matters most.
          </p>
        </div>
        <div class="spacer-small"></div>
      </div>
    </div>

    <!-- <div class="landing-industries skeleton block-full background-light"> -->
    <!--   <div class="content-full-column"> -->
    <!--     {% include '../components/industry_tabs.njk' %} -->
    <!--     <div class="spacer-small"></div> -->
    <!--   </div> -->
    <!-- </div> -->

    <div class="center-content">
      <a href="/contact">
        <button class="button-cool-light button-large">GET IN TOUCH</button>
      </a>
      <div class="spacer-small"></div>
    </div>

    {% include '../components/footer.njk' %}
  </body>
</html>
