<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '../components/global_head.njk' %}
        {% include '../components/google/organization.njk' %}
    </head>
    <body>
        {% include '../components/nav.njk' %}
        {# Content minimum height wrapper, place between nav and footer #}
        <div class='hero-with-cta splash-big background-dark text-dark'>
            {# Hero banner #}
            <div class="content-full-column">
                <h1> Technology that delivers confidence and clarity across your business.</h1>
                <div class="container-two-columns">
                <div>
                    <p>Tech solutions that streamline operations and automate<br>
                    workflows. The result? A seamless system with a clear,<br>
                    connected view of your entire business.</P>
                    <a href="{{url_get_started}}" target="_blank"><button class="button-warm-dark button-large">Get started with us</button></a>
                </div>
                <div>
                    <iframe class="video-hero-landing" width="560" height="315" src="{{url_video_embed}}" title="{{title_video_embed}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                </div>
            </div>
        </div>

        <div class="container-diagonal-slash"></div>

       <div class='landing-purpose skeleton block-half background-light'>
            {# Why we exist #}
            <div class='content-full-column text-light text-center'>
                <p>OUR APPROACH</p>
                <p><h3><strong>Not just a software company.</strong></h3></P>
                <p>Our unique <strong>Tech+Team</strong> approach sets us apart</P>
                <p>Our in-house <strong>Tech+</strong> is highly customisable, reliable and fast to implement - <br> 
                We've been developing it for over 8 years. Out <strong>+Team</strong> of expert consultants<br> 
                and developers are here to support you, ongoing.</p>
                <p>Our propietary technology enables us to implement fast, low-risk digital<br> 
                transformation. Covering everything from CRMs to ERPs, project management<br> 
                to advanced reporting and analytics. There are not many problems we can't<br> 
                solve.</P>
                <div class="center-content container-width-narrow text-center ">
                    <a href="{{url_get_started}}"><button class="button-cool-light button-large">TECH+TEAM APPROACH</button></a>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>

        

        <div class='landing-benifit skeleton block-half background-dark'>
            <div class='center-content'>
               <div class='spacer-small'></div>
                    <iframe class="iframe-youtube-large" src="https://www.youtube.com/embed/4Rni97X0K50?si=PgKR6YqSgCMSp-Db" title="Rapid CRM Workshop" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class='spacer-small'></div>
        </div>
        <div class='content-full-column'>
                           <div class='spacer-small'></div>
                <div class='container-columns container-column-reverse'>
                        <div class="container-vertical-center">
                            <img src='/src/assets/images/Assets-Register-Dashboard.png' />
                        </div>
                        <div class="container-vertical-center">
                            <h6>BOOK A DEMO</h6>
                            <p><h3><Strong>Start your digital transformation with us today.</strong></h3></p>
                            <p>Book in a 30-minute demo and you'll:</p>
                            <p>✅ See Rapid in action<br>
                            ✅ A breakdown of the different solutions we can deliver<br>
                            ✅ An introduction to our <strong>Tech+Team</strong> approach<br>
                            ✅ Clarity on any questions you have
                            </p>
                            <a href="{{url_get_started}}"><button class="button-cool-light button-large">BOOK DEMO</button></a>
                        </div>
                </div>
                               <div class='spacer-small'></div>
        </div>
        <div class='landing-justification skeleton block-half background-dark text-dark'>
            {# Justification why other people think we're great #}
            <div class="content-full-column">
                <p>Technology is changing but the giants aren’t. It’s in their best interest to lock you into long term big dollar contracts so you have no choice. Don’t fall into the trap of being just someone’s consumer, contorting your business to their offering.</p>
                <p>There is a better way. See how we’ve helped others achieve their goals.</p>
            </div>
            <div class="content-full-column">
                <!--Testimonials-->
                <div class="container-columns testimony">
                    <!-- First Testimony -->
                    <div class="testimony-card">
                        <div class="container-row">
                            <img src="/images/testimonials/James-M.jpg">
                            <div class="container-vertical-center">
                                <span id="testimonial-name">James McCarthy</span><br>
                                <span id="testimonial-company">
                                    <b>Guardian Childcare</b>
                                </span>
                            </div>
                        </div>
                        <div class="quote-marks text-highlight-cool-light">
                            <span>&ldquo;</span>
                        </div>
                        <div>
                            <p>Our business challenge was about how to connect with our families in a more proactive way. We had no CRM, we had no formal database, we were using spreadsheets. We weren't ready to invest in an off-the-shelf SAP or large-scale enterprise system.</p>
                            <p>If your business is going through a period of change and you're uncertain about what infrastructure to take on board&mdash;particularly from a technology point of view&mdash;<b>I can't recommend Rapid enough</b>.</p>
                        </div>
                    </div>
                    <!-- Second Testimony -->
                    <div class="testimony-card">
                        <div class="container-row">
                            <img src="/images/testimonials/Darryl-H.png">
                            <div class="container-vertical-center">
                                <span id="testimonial-name">Darryl Hopkins</span><br>
                                <span id="testimonial-company">
                                    <b>Torsion Homes</b>
                                </span>
                            </div>
                        </div>
                        <div class="quote-marks text-highlight-cool-light">
                            <span>&ldquo;</span>
                        </div>
                        <div>
                            <p>Before Rapid we were using detailed Excel spreadsheets&mdash;I think a lot of people's file systems were probably their inbox. Now it's compiled, it's easy to access, we can run reports on all of that data.</p>
                            <p><b>It's a whole different world for us now.</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='content-full'>
            <div class='spacer-small'></div>
                <div class='content-full-column text-light text-center'>
                    <img src="dist/assets/black heart tick.png" width="50">
                    <p><strong>Our promise to you</strong></p>
                    <p>We are dedicated to eleminating inefficiencies created by outdated systems and manual processes.<br>
                    With cloud-based technology and a team of experts, we remove roadblocks that slow down your<br> 
                    business with tech solutions. Our solutions streamline, automate, and deliver real results. Wheather<br>
                    you're scaling or refining, we empower you to build momentum and gain the clarity needed to move<br>
                     your business forward.</P>
                </div>
            <div class='spacer-small'></div>
        </div>

        {% include '../components/cta/knowmore.njk' %}

        {% include '../components/footer.njk' %}
    </body>
</html>

