<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../components/global_head.njk' %} 
    {% include '../components/google/organization.njk' %}
  </head>
  <body>
    {% include '../components/nav.njk' %} {# Content minimum height wrapper,
    place between nav and footer #}
    <div class="hero-with-cta splash-big background-dark text-dark">
      {# Hero banner #}
      <div class="content-full-column">
        
        <div class="container-two-columns">
          <div>
            <h1>Enterprise technology,<br>made effortless.</h1>
            <p>
              Eliminate roadblocks, optimise for efficiency, and 
              <br>accelerate your business — fast and without friction.
            </p>
            <a href="{{url_get_started}}" target="_blank">
              <button class="button-warm-dark button-large">Book a Demo</button>
            </a>
          </div>
          <div>
            <br>
            <br>
            <iframe
              class="video-hero-landing"
              width="700"
              height="394"
              src="{{url_video_embed}}"
              title="{{title_video_embed}}"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="container-diagonal-slash"></div>

    <div class='landing-purpose skeleton block-half background-light'>
        {# Why we exist #}
        <div class='content-full-column text-light text-center'>
            <p>OUR APPROACH</p>
            <p><h3><strong>Not just a software company.</strong></h3></P>
            <p>Our unique <strong>Tech+Team</strong> approach sets us apart</P>
            <p>Our in-house <strong>Tech+</strong> is highly customisable, reliable and fast to implement - <br> build and refined over 8 years of development. Paired with our <strong>+Team</strong> of expert consultants<br> and developers, we provide ongoing support to ensure your success.</p>
            <p>This powerful combination allows us to deliver fast, low-risk digital solutions across<br> 
            everything from CRMs to ERPs to project management<br> 
            and advanced analytics<br>solutions</P>
            <div class="center-content container-width-narrow text-center ">
                <a href="/approach"><button class="button-cool-light button-large">TECH+TEAM APPROACH</button></a>
            </div>
            <div class="spacer-small"></div>
            <img src="/src/assets/images/landing/board-on-laptop.png"/>
        </div>
    </div>
        
    <div class='landing-benifit skeleton block-half background-dark'>
        {# Benfits video #}
        <div class='center-content'>
            <div class='spacer-small'></div>
                <iframe class="iframe-youtube-large" src="https://www.youtube.com/embed/4Rni97X0K50?si=PgKR6YqSgCMSp-Db" title="Rapid CRM Workshop" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class='spacer-small'></div>
    </div>
        
    <div class='landing-demo skeleton block-half background-light'>
        {# Book a Demo CTA #}
        {% include '../components/cta/book_demo.njk' %}
    </div>

    <div class="landing-benifit skeleton block-half background-dark">
      <div class="content-full-column">
        {% include '../components/feature_multi_tabs.njk' %}
      </div>
    </div>

    <div class="landing-promise skeleton block-half background-dark">
      {# Our brand promise #}
      <div class="content-full">
        <div class="spacer-small"></div>
        <div class="content-full-column text-dark text-center">
          <p>
            At Rapid, we're more than developers, consultants, and technologists — <br>we're your partners in business.<br />
          </p>
          <p>
            We know technology can unlock incredible growth — boosting sales, <br>streamlining operations, and elevating customer experiences. But if done wrong, <br>it creates complexity, delays, and chaos.
          </p>
          <br>
          <br>
          <img src="src/assets/images/black-heart-tick.png" width="50" />
          <p><strong>Our promise is simple:</strong></p>
          <p><strong>Enterprise-grade solutions that feel effortless.</strong>
          <br>Delivered with speed, precision, and a deep focus on what moves your business forward. 
          <br>We listen first, move fast, and solve what matters most.
          </p>
        </div>
        <div class="spacer-small"></div>
      </div>
    </div>

    <div class="landing-industries skeleton block-full background-light">
      <div class="content-full-column">
        {% include '../components/industry_tabs.njk' %}
        <div class="spacer-small"></div>
      </div>
    </div>

    <div class="center-content">
      <a href="/contact">
        <button class="button-cool-light button-large">GET IN TOUCH</button>
      </a>
      <div class="spacer-small"></div>
    </div>

    {% include '../components/footer.njk' %}
  </body>
</html>
