<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
</head>
    <body>
        {% include '../components/nav.njk' %}
        
        <div class='hero-with-cta first-element splash-big'>
            Hero banner
            <div class='hero-cta'>
                Hero Call to Action
            </div>
        </div>
        
        <div class='landing-product-overview skeleton block-full'>
            Product Overview
        </div>

        <div class='landing-purpose skeleton block-full'>
            Why we exist
        </div>

        <div class='landing-benifit skeleton block-full'>
            Why you benifit from us
        </div>

        <div class='landing-call-to-action skeleton block-full'>
            Main call to action
        </div>

        <div class='landing-justification skeleton block-full'>
            Justification why other people think we're great
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        {% include '../components/footer.njk' %}
    </body>
</html>
