{# 
  layout.njk is the base layout from which all others should extend
  
  it provides all the HTML boiler plate including
  the default header and footer as well as
  imports the correct CSS files and google stuffs.

  Useage:
  https://mozilla.github.io/nunjucks/templating.html#template-inheritance

    - extend this layout in the page you're making
    
    {% extends "../layouts/layout.njk" %}

    - add blocks you'd like to inject stuff into
      simply don't use the block if you don't want it
     
    {% block head %}
      // This content will be added to the head of the document
      // use it for custom CSS, scripts, or anything else you 
      // want in the document head on this page.
    {% endblock %}

    {% block content %}
      // This content will be added to body of the document
      // between the header and footer
    {% endblock %}

#}

<!DOCTYPE html>
<html lang="en" class="bg-deep-navy font-sans">
  <head>
    {% include '../components/global_head.njk' %} 
    {% include '../components/google/organization.njk' %}

    {# 
      Block to allow templates extending this base one to be 
      able to extend what is in the head of the document 
    #}
    {% block head %}
    {% endblock %}

  </head>
  <body>
    {% include '../components/nav.njk' %} 

    {% block content %}
    {% endblock %}

    {% include '../components/footer.njk' %}
  </body>


  <script>
    
    // Attach player APIs to all youtube iframes

    function setUpPlayer(player, container) {
      function playVideo() {
        if (player && player.playVideo) {
          player.playVideo();
        }
      }

      container.addEventListener('click', () => {
        container.classList.add('playing');
        playVideo();
      });
    }

    function attachToIframe(id) {
      const container = document.getElementById(`${id}__container`);

      // Initialize the player
      const player = new YT.Player(id, {
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange(container)
        }
      });

      // When player is ready
      function onPlayerReady(event) {
        setUpPlayer(player, container);
      }

      // When player state changes
      function onPlayerStateChange(event) {
        // 0 = ended, 1 = playing, 2 = paused, 3 = buffering, 5 = video cued
        if (event.data === 0 || event.data === 2) {
          container.classList.remove('playing');
        }
      }
    }

    // Function that gets called when YouTube API is ready
    // This is just "magicly" called by the ifram_api script in the head
    function onYouTubeIframeAPIReady() {
      if (!Array.isArray(globalThis.videos)) {
        return;
      }
      
      for (const id of globalThis.videos) {
        attachToIframe(id);
      }
      
    }
  </script>

</html>
