<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
    <link rel="stylesheet" href="/src/styles/technology.css">
</head>
    <body>
        {% include '../components/nav.njk' %}
        <div id="wrap"> {# Content minimum height wrapper, place between nav and footer #}

        <div class='hero-with-content splash-small' style="background-image: url('/images/Technology-Banner-Placeholder.jpg');">
            {# Hero banner #}
            <div class='hero-content'>
            </div>
        </div>
        
        <div class='tech-elevator skeleton block-quarter'>
            {# Elevator Pitch #}
            <div class= 'center-content' style= 'text-align:center; padding-top: 30px; padding-bottom: 15px;'>
                <h2 class='text-highlight-cool-light'>Everything you need in a single place</h2>
                <h4 class='text-light'>Stop system sprawl and empower your team with a single source of truth</h4>
            </div>
        </div>
        
        <div class='tech-core-feature skeleton block-full background-dark text-dark'>
            {# First core feature chunk #}
            <div class='content-full-column '>
                {# Heading Blurb #}
                <p>Running a business can often feel like juggling a million tasks at once, its understandable that things will slip through the cracks despite your best efforts. Whether it's missed deadlines, miscommunications within your team, or a lack of clarity with external partners, these issues can cause costly delays and frustration.</p>
                <p>With Rapid Platform's process automation, you gain full control over your workflows, automating processes and ensuring nothing gets overlooked.</p>
            </div>
            <div class='content-full-column'>
                {# BPMN Image #}
                <img id='bpmn-image-desktop' class='image-desktop' src="/src/assets/images/BPMN Demo Layout Desktop.svg" />
                <img id='bpmn-image-mobile' class='image-mobile' src="/src/assets/images/BPMN Demo Layout Desktop.svg" />
            </div>
            <div class='container-three-columns content-full-column'>
                {# Explainer Container #}
                <div>
                    {# Explainer Left #}
                    <div id='bpmn-logo'></div>
                    <p>With Rapid Platform, you can leverage <a class='link-dark' href='https://www.bpmn.org/'>BPMN 2.0</a>, an internationally recognized standard, to create clear, living documentation that evolves with your business. This powerful tool not only allows you to visualize and document processes, but also makes them fully executable, bridging the gap between planning and action.</p>
                    <p>By using BPMN, your workflows are not just static diagrams; they are dynamic, real-time processes that can be easily updated, tracked, and optimized. This ensures that everyone in your organization is aligned and working from the same source of truth, reducing confusion and driving greater efficiency across all operations.</p>
                </div>
                <div>
                    {# Explainer Mid #}
                    <p>With Rapid Platform’s automatic task generation, your team never has to worry about missing a beat. By automatically creating tasks based on predefined workflows and triggers, everyone stays on top of their responsibilities without having to manually track every detail. This ensures that nothing slips through the cracks, deadlines are met, and priorities are clear.</p>
                    <p>When you remove the guesswork and manual tracking, your team can focus on what truly matters—delivering high-quality results—while knowing the system is handling the behind-the-scenes organization.</p>
                </div>
                <div>
                    {# Explainer Right #}
                    <div id='email-logos'></div>
                    <p>Rapid Platform enhances your external communication by seamlessly integrating with SendGrid and Outlook, making email outreach more efficient and effective.</p>
                    <p>Whether you're sending automated notifications, client updates, or follow-ups, you can easily manage all your email communications from one central platform.</p>
                    <p>Coupled with native forms that collect data directly from your customers or partners, Rapid Platform ensures that the information you need is captured accurately and in real-time.</p>
                </div>
            </div>
            
        </div>

        <div class='tech-core-feature skeleton block-full'>
            {# Second core feature chunk #}
            <div class="">
                {# Heading #}
                <h1 class="text-highlight-light">Build, Track, Own</h1>
            </div>
            <div class="container-three-columns">
                {# Columns #}
                <div>WEB</div>
                <div>DEV</div>
                <div>TIME</div>
            </div>
            
        </div>

        <div class='tech-core-feature skeleton block-full'>
            {# Third core feature chunk #}
            <p>Understand what's going on with:</p>
            <p>- Live reporting with native PowerBI embedding and live editing.</p>
            <p>- Keep everyone up to date with notes and notifications.</p>
            <p>- Keep consistant with full history and rollback, no more.</p>
            <p>Headaches on what's up to date.</p>
        </div>

        <div class='tech-core-feature skeleton block-full'>
            {# Fourth core feature chunk #}
            <p>Stay at the cutting edge with cloud technology:</p>
            <p>- Be safe with enterprise grade security backed by Azure.</p>
            <p>- Integrate with your existing services through our full API control.</p>
            <p>No special functions. A machine can do anything the UI can do.</p>
        </div>

        <div class='tech-sales-pitch skeleton block-half'>
            {# Sales pitch based on the features #}
            <p>Sales pitch, explore these features yourself.</p>
            <p>Call to action to signup for free.</p>
            <p>Connect with one of our experts to help build your future.</p>
            <p>Call sales.</p>
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        </div> {# End of Wrap div #}
        {% include '../components/footer.njk' %}
        <script>
            const startCircle = document.getElementById('startCircle');
            const task1 = document.getElementById('task1Box');
            const task2 = document.getElementById('task2Box');
            const task3 = document.getElementById('task3Box');
            const gate = document.getElementById('gate');
            const gateDiamond = document.getElementById('gateDiamond');
            const exit = document.getElementById('exit');
            const exit2 = document.getElementById('exit2');
            
            line1 = new LeaderLine(
                startCircle,
                task1Box, {
                    color: '#3caa94', 
                    size: 4, 
                    path:'straight',
                    dash: {animation: true}
                }
            );
            line2 = new LeaderLine(
                task1Box,
                gate, {
                    color: '#64758c', 
                    size: 4, 
                    path:'grid',
                    startSocket: 'bottom',
                    endSocket: 'left'
                }
            );
            line3 = new LeaderLine(
                gate,
                exit, {
                    color: '#64758c', 
                    size: 4, 
                    path:'grid',
                    //startLabel: LeaderLine.pathLabel('Not Approved', {color: '#64758c', offset:[0,0]})
                }
            );
            line4 = new LeaderLine(
                gate,
                task2Box, {
                    color: '#64758c', 
                    size: 4, 
                    path:'straight',
                    //startLabel: LeaderLine.pathLabel('Approved', {color: '#64758c', offset:[0,-10]})
                }
            );
            line5 = new LeaderLine(
                task2Box,
                task3Box, {
                    color: '#64758c', 
                    size: 4, 
                    path:'grid',
                    startSocket: 'bottom'
                }
            );
            line6 = new LeaderLine(
                task3Box,
                exit2, {
                    color: '#64758c', 
                    size: 4, 
                    path:'straight'
                }
            );
            // Dynamically rotate the gate svg
            const diamond = document.getElementById('gateDiamond');
            const x = parseFloat(diamond.getAttribute('x'));
            const y = parseFloat(diamond.getAttribute('y'));
            const width = parseFloat(diamond.getAttribute('width'));
            const height = parseFloat(diamond.getAttribute('height'));
            const centerX = x + width / 2;
            const centerY = y + height / 2;
            diamond.setAttribute('transform', `rotate(45, ${centerX}, ${centerY})`);
            
            //

            function approvePath() {
                var e = document.getElementById('approvedValue');
                var value = e.value;
                var text = e.options[e.selectedIndex].text;
                if (text == "Yes") {
                    line2.setOptions(
                        {
                            color: '#3caa94',
                            dash: {animation: true}
                        }
                    );
                    line3.setOptions(
                        {
                            color: '#64758c',
                            dash: false
                        }
                    );
                    line4.setOptions(
                        {
                            color: '#3caa94',
                            dash: {animation: true}
                        }
                    );
                    line5.position();
                    task1.style.stroke='#3caa94';
                    task1.style.fill='#e0faf3';
                    gateDiamond.style.stroke='#3caa94';
                    gateDiamond.style.fill='#e0faf3';
                    exit.style.stroke='#64758c';
                    exit.style.fill='#f4f4f4';
                } else if (text == "Approve"){
                    line2.setOptions(
                        {
                            color: '#64758c',
                            dash: false
                        }
                    );
                    line3.setOptions(
                        {
                            color: '#64758c',
                            dash: false
                        }
                    );
                    line4.setOptions(
                        {
                            color: '#64758c',
                            dash: false
                        }
                    );
                    task1.style.stroke='#64758c';
                    task1.style.fill='#f4f4f4';
                    gateDiamond.style.stroke='#64758c';
                    gateDiamond.style.fill='#f4f4f4';
                    exit.style.stroke='#64758c';
                    exit.style.fill='#f4f4f4';
                } else {
                    line2.setOptions(
                        {
                            color: 'red',
                            dash: {animation: true}
                        }
                    );
                    line3.setOptions(
                        {
                            color: 'red',
                            dash: {animation: true}
                        }
                    );
                    line4.setOptions(
                        {
                            color: '#64758c',
                            dash: false
                        }
                    );
                    task1.style.stroke='#cd4e4e';
                    task1.style.fill='#ffe8e8';
                    gateDiamond.style.stroke='#cd4e4e';
                    gateDiamond.style.fill='#ffe8e8';
                    exit.style.stroke='#cd4e4e';
                    exit.style.fill='#ffe8e8';
                }
            }
            
            /*
            // Function to fix issues
            function fixLine () {
                line1.position();
                line2.position();
                line3.position();
                line4.position();
                line5.position();
                line6.position();
                
            }
            // Declare shapes as draggable
            
            new PlainDraggable(startEvent, {onMove: fixLine});
            new PlainDraggable(task1, {onMove: fixLine});
            new PlainDraggable(task2, {onMove: fixLine});
            new PlainDraggable(task3, {onMove: fixLine});
            new PlainDraggable(gate, {onMove: fixLine});
            new PlainDraggable(exit1, {onMove: fixLine});
            new PlainDraggable(exit2, {onMove: fixLine});
            */
            
        </script>
    </body>
</html>