<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/src/styles/main.css">
</head>
    <body>
        {% include '../components/nav.njk' %}
        
        <div class='hero-with-content'>
            Hero banner
            <div class='hero-content'>
                Hero Content
            </div>
        </div>
        
        <div class='tech-elevator skeleton'>
            Elevator Pitch
        </div>

        <div class='tech-core-feature skeleton'>
            First core feature chunk
        </div>

        <div class='tech-core-feature skeleton'>
            Second core feature chunk
        </div>

        <div class='tech-core-feature skeleton'>
            Third core feature chunk
        </div>

        <div class='tech-core-feature skeleton'>
            Fourth core feature chunk
        </div>

        <div class='tech-sales-pitch skeleton'>
            Sales pitch based on the features
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        {% include '../components/footer.njk' %}
    </body>
</html>
