<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
</head>
    <body>
        {% include '../components/nav.njk' %}
        <div id="wrap"> {# Content minimum height wrapper, place between nav and footer #}

        <div class='hero-with-content splash-small'>
            {# Hero banner #}
            <div class='hero-content'>
                {# Hero Content #}
            </div>
        </div>
        
        <div class='tech-elevator skeleton block-quarter'>
            {# Elevator Pitch #}
        </div>

        <div class='tech-core-feature skeleton block-full'>
            {# First core feature chunk #}
        </div>

        <div class='tech-core-feature skeleton block-full'>
            {# Second core feature chunk #}
        </div>

        <div class='tech-core-feature skeleton block-full'>
            {# Third core feature chunk #}
        </div>

        <div class='tech-core-feature skeleton block-full'>
            {# Fourth core feature chunk #}
        </div>

        <div class='tech-sales-pitch skeleton block-half'>
            {# Sales pitch based on the features #}
        </div>

        {% include '../components/cta/knowmore.njk' %}
        
        </div> {# End of Wrap div #}
        {% include '../components/footer.njk' %}
    </body>
</html>
