<html lang="en">
    <head>
        {% include '../components/global_head.njk' %}
    </head>
    <body>
        {% include '../components/nav.njk' %}
        {# Content minimum height wrapper, place between nav and footer #}
        <div class='hero-with-cta splash-small background-dark text-dark'>
            {# Hero banner #}
            <div class="content-full-column">
                <div class="container-two-columns">
                <div>
                    <h1> Improve your customers experience with the <span class="text-highlight-cool-dark">Rapid Advantage</span></h1>
                </div>
                    <div class="text-center container-vertical-center">
                        <img id="rapidForGov" src="/src/assets/images/rapid-for-government.svg"></img>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-diagonal-slash"></div>

        <div class='elevator skeleton block-quarter background-light text-light'>
            {# Elevator Pitch #}
            <div class="content-full-column">
                <div class= 'center-content'>
                    <h2 class='text-highlight-cool-light'>What is the Rapid Advantage?</h2>
                </div>
                <div>
                    <p>In today's fast-paced world, government departments need solutions that are both robust and flexible—without the burden of expensive, cumbersome enterprise software. Rapid Platform offers <strong>the Adaptive Advantage</strong>, a unique blend of expert consultants and cutting-edge technology designed to meet your specific needs.</p>
                    <ul>
                        <li>
                            <h4>Right-Sized Solutions</h4>
                            <p>When spreadsheets no longer cut it, but full-scale enterprise software feels too costly and complex, Rapid provides a solution that’s perfectly scaled for your department. It bridges the gap, offering powerful tools without the heavy lifting of traditional systems.</p>
                        </li>
                        <li>
                            <h4>10x Better Customer Experience</h4>
                            <p>We prioritize ease of use, making the customer experience smoother and more intuitive. With Rapid, your team can work more efficiently and collaboratively, improving both productivity and satisfaction.</p>
                        </li>
                        <li>
                            <h4>Enterprise-Grade Technology, Without the Enterprise-Grade Price</h4>
                            <p>Get access to industry-leading technology that’s powerful and reliable, yet affordable. Rapid delivers enterprise-level capabilities without the hefty price tag or resource-heavy implementation.</p>
                        </li>
                        <li>
                            <h4>Consultation Meets Cutting-Edge Tech</h4>
                            <p>Unlike one-size-fits-all solutions, Rapid is built with a hybrid approach. We combine deep consultation with innovative technology to ensure your department gets the best of both worlds—tailored, high-impact solutions designed around your unique requirements.</p>
                        </li>
                    </ul>
                    <p>The Adaptive Advantage is about providing the right balance of flexibility, performance, and affordability to ensure your department is ready to meet the demands of today—and tomorrow.</p>
                </div>
            </div>
            <div class= 'center-content'>
                    <a href="{{url_get_started}}" target="_blank"><button class="button-warm-light button-large">Book a demo</button></a>
                </div>
        </div>

        <div class='block-full background-dark text-dark' >
            {# Product Overview #}
            <div class="content-full-column">
                <div class="container-columns">
                    <div>
                        <h1 class="text-highlight-cool-dark heading-sticky">Improve your customer experience</h1>
                    </div>
                    <div>
                        <div>
                            <h2 class="text-highlight-warm-dark">Automated</h2>
                            <h5>Build intuitive workflows with our low-code, BPMN 2.0-compliant, workflow engine.</h5>
                            <p>Save time for yourself, and your customers, by leveraging our automated processes.</p>
                            <p>Stop sending work via emails. Generate tasks and communications automatically, and let our system send it to the next person in the chain.</p>
                            <p>Build automatic escalation procedures if tasks are left incomplete./p>
                            
                            <h2 class="text-highlight-warm-dark">Streamlined</h2>
                            <h5>We specialise in streamlining systems and helping teams modernise.</h5>
                            <p>Say goodbye to unnecessary spreadsheets!</p>
                            <p>With Rapid, you can respond to customers with greater speed, and communicate more effectively with your team.</p>
                            
                            <h2 class="text-highlight-warm-dark">SME-Friendly</h2>
                            <h5>Built for businesses who feel left behind by what the big SaaS companies are offering.</h5>
                            <p>Rapid Platform is perfect for small teams who need to serve customers or work with external parties.</p>
                            <p>Collect data securely with public-facing forms that natively connect with a world-class Azure database.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='block-full background-light text-light' >
            {# Product Overview Part 2#}
            <div class="content-full-column">
                <div class="container-columns">
                    <div>
                        <div>
                            <h2 class="text-highlight-cool-light">Affordable</h2>
                            <h5>Pay as you go. No lock-in contracts.</h5>
                            <p>Our projects are designed to fit your needs while remaining affordable. We are privately owned, which means we aren’t maximising profits for shareholders, and the savings get passed onto you.</p>
                            <p>Hire our expert consultants at an affordable rate to build solutions for you or bring your own resources and leverage our adaptive edge.</p>
                            
                            <h2 class="text-highlight-cool-light">Experienced</h2>
                            <h5>With nearly a decade of industry experience, we’re systems experts.</h5>
                            <p>We have a proven track record of providing solutions for both private and government clients.</p>
                            <p>Our Adaptive Advantage scoping framework ensures that our proposed solutions really meet your  needs.</p>
                            
                            <h2 class="text-highlight-cool-light">Extensible</h2>
                            <h5>Fully REST-complaint with total API access to build your own solutions.</h5>
                            <p>Rapid Platform is a platform. Work with us to build your own custom applications and integrations. </p>
                            <p>Smooth existing systems to harmonize together or go full bore and develop your full custom solution in half the time.</p>
                        </div>
                    </div>
                    <div>
                        <h1 class="text-lowlight-cool-light heading-sticky">Solve your headaches</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class='block-quarter background-dark'>
            {# Justification #}
            <div class='content-full-column text-dark text-center'>
                <h4>Our Partners</h4>
                <div class="container-row center-content">
                    <div class="card-partner-logo">
                        <img class="image-partner-logo" src="/src/assets/images/logo-ms-partner-light.png"></img>
                    </div>
                    <div class="card-partner-logo">
                        <a href="https://ictprocurement.service-now.com/sp?id=seller_details&sys_id=838f6efddbcf2410fe800af6f3961911&path=buying" target="_blank">
                            <img class="image-partner-logo" src="/src/assets/images/logo-buyict.png"></img>
                        </a>
                    </div>
                    <div class="card-partner-logo">
                        <img class="image-partner-logo" src="/src/assets/images/logo-simpli.png"></img>
                    </div>
                </div>

            </div>
        </div>
        
        {% include '../components/cta/knowmore.njk' %}

        {% include '../components/footer.njk' %}
    </body>
</html>