<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
</head>
    <body>
        {% include '../components/nav.njk' %}
        <div style="height: 150px"></div>
        <div class="content-full-column">
            {{ content|safe }}
        </div>
        
        {% include '../components/footer.njk' %}
    </body>
</html>
