<html lang="en">
<head>
    {% include '../components/global_head.njk' %}
</head>
    <body>
        {% include '../components/nav.njk' %}
        <div id="wrap"> {# Content minimum height wrapper, place between nav and footer #}
        
        <div class="content-wide">
            {{ content|safe }}
        </div>
        
        </div> {# End of Wrap div #}
        {% include '../components/footer.njk' %}
    </body>
</html>
