<html lang="en">
<head>
    <link rel="stylesheet" href="/src/styles/components/legal_accordion.css">
    {% include '../components/global_head.njk' %}
</head>
    <body>
        {% include '../components/nav.njk' %}
        <div style="height: 150px;"></div>
        {% include '../components/legal/legal_accordion.njk' %}
        
        {% include '../components/footer.njk' %}
    </body>
</html>
